.help-block{
    color: red !important;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}
.jq-toast-wrap.top-right{
    display: none !important;
}
.padding-top-less{
    padding-top: 0px !important;
}
.dataTables_filter{
    display: none !important;
}
.input-group{
    width: 100% !important;
    padding-bottom: 5px;
    resize: none;
}
.select2-container .select2-selection--single{
    height: 38px !important;
}
.select2-container .select2-selection--single .select2-selection__rendered{
    padding: 5px 12px !important;
}
.select2-container--default .select2-selection--single .select2-selection__arrow{
    height: 36px !important;
}
.input-group .form-control{
    resize: none;
}
.white-box-modify{
    padding: 25px 15px !important;
}
.state-error{
    color: red !important;
    font-style: normal;
}
.fas.fa-trash{
    color: red;
}
.custom_radiobox{
    float: left;
    margin-top: 1px !important;
}
table.dataTable thead .sorting:after, table.dataTable thead .sorting_asc:after, table.dataTable thead .sorting_desc:after, table.dataTable thead .sorting_asc_disabled:after, table.dataTable thead .sorting_desc_disabled:after{
    bottom: 13px !important;
}
#side-menu>li>a{
    padding:10px !important;
}
.sidebar .arrow{
    top: 40% !important;
}
.sidebar .nav-second-level li a{
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}
.sidebar .nav-second-level li a:hover{
    background: #621275 !important;
    color: #fff !important;
}
.bg-title{
    padding-top: 5px !important;
    padding-bottom: 0px !important;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{
    padding: 10px 8px !important;
}
.white-box{
    padding: 15px !important;
}
.white-box .box-title{
    margin-top: 15px !important;
}
.section_devide{
    padding-top: 40px;
    margin-top: 10px;
    position: relative;
    border-top: 2px solid #DDD;
}
.input-group label{
    margin-top: 10px !important;
}
label.margin-top-hide{
    margin-top: 0px !important;
}
.m-left-15{
    margin-left: 15px !important;
}
.checkbox, .radio{
    margin-top: 0px !important;
}
.section-divider{
    height: 0;
    border-top: 1px solid #DDD;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
}
.section-divider{
    position: relative;
    text-align: left !important;
}
.mv40 {
    margin-top: 40px !important;
    margin-bottom: 40px !important;
}
.section-divider span{
    position: absolute;
    top: -21px;
    padding-right: 10px;
    background: #fff !important;
}
.m-top-30{
    margin-top: 30px !important;
}
.red{
    color: red !important;
}
a.dt-button, button.dt-button, div.dt-button{
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
.preloader{
    background: rgba(0,0,0,0.2) !important;
}
.tabs-style-bar nav ul li a span{
        text-transform: capitalize;
    letter-spacing: 1px;
    font-size: 12px;
    font-family: 'Poppins', sans-serif;
    padding: 0px 14px;
}
#exampleModal .select2-container{
    width: 100% !important;
}
.textareaheight1 {
    height:160px !important;
}
.dropdown-menu>li>a{
    padding: 2px 17px;
}
.fain{
    width: 60px;
    background: rgb(135, 187, 57);;
    border-radius: 50%;
    height: 60px;
    color: #fff;
    line-height: 55px;
}
.swal-wide{
    width:850px !important;
}
.Pending{
    background: rgb(245, 192, 0);
    padding: 8px 15px;
    color: #fff;
}
.Accepted{
    background: rgb(101, 205, 206);
    padding: 8px 15px;
     color: #fff;
}
.Processed{
     background: #1e2733;
    padding: 8px 15px;
     color: #fff;
}
.Completed{
     background: #52c54e;
    padding: 8px 15px;
     color: #fff;
}
.checkbutton{
        display: table;
    text-align: center;
    width: 80%;
    font-size: 12px !important;
    padding: 5px;
    font-weight: bold;
    margin-bottom: 5px;
    color: #fff !important;
        background: #183591;
    border: 1px solid #183591
}
.btn-info,.btn-primary{
    background: #183591;
}