@media (min-width: 320px) and (max-width: 480px) {
    .wsmenu>.wsmenu-list {
        margin-left: -369px;
    }

    .wsmenu>.wsmenu-list>li>.wsmegamenu {
        opacity: 1;
        visibility: visible !important;
        transform: none !important;
        -o-transform: none !important;
        -moz-transform: none !important;
        -webkit-transform: none !important;
    }

    .wsmenu>.wsmenu-list>li:hover>.wsmegamenu {
        opacity: 1 !important;
        visibility: visible !important;
        transform: none !important;
        -o-transform: none !important;
        -moz-transform: none !important;
        -webkit-transform: none !important;
    }

    .wsmenu>.wsmenu-list>li>.sub-menu2 {
        opacity: 1 !important;
        visibility: visible !important;
        transform: none !important;
        -o-transform: none !important;
        -moz-transform: none !important;
        -webkit-transform: none !important;
    }

    .wsmenu>.wsmenu-list>li:hover>.sub-menu2 {
        opacity: 1 !important;
        visibility: visible !important;
        transform: none !important;
        -o-transform: none !important;
        -moz-transform: none !important;
        -webkit-transform: none !important;
    }

    .menu-other span i {
        display: none;
    }

    .interview_inner {
        display: none;
    }

    .header p {
        font-size: 16px;
        line-height: 27px;
    }

    .headerfull {
        padding: 0px 0px;
    }

    .wsmenu>.wsmenu-list>li .wstheading {
        cursor: pointer;
    }

    .wsmenu>.wsmenu-list>li .wstheading {
        margin-top: 6px;
        font-size: 11px;
        padding: 1px 0px 6px 14px;
    }

    .interview-li h4 i {
        display: block;
        float: right;
        margin-right: 2px;
        padding-top: 5px;
    }

    .header {
        height: 180px;
        min-height: 180px;
    }

    .headings-main {
        padding-top: 22%;
    }

    .header h1 {
        font-size: 20px;
    }

    .digital-marketing-right h3 {
        font-size: 21px;
        padding-top: 6%;
    }

    .padding-lre {
        padding-left: 0px;
    }

    #marketing {
        padding-top: 14%;
    }

    .subject-panel {
        margin: 0px 0px;
    }

    .sw-testing-right {
        padding: 3px;
        border-radius: 0px;
        padding-bottom: 11px;
    }

    .digital-marketing-right {
        padding: 0px;
        padding-bottom: 11px;
        border-radius: 0px;
    }

    .marketing-right {
        width: 88%;
        float: left;
    }

    .menu-head {
        margin-left: 0px !important;
    }

    .wsmenu>.overlapblackbg {
        width: auto;
    }

    .wsmenu>.wsmenu-list>li .wstliststy06 li a {
        font-size: 11px !important;
    }

    .interview-li a {
        font-size: 13px;
    }

    .wsmenu>.wsmenu-list>li>.navtext {
        padding: 0px 25px;
    }

    .wsmenu>.wsmenu-list>li>.wsmenu-click {
        border-left: 0px;
    }

    .halfmenu2 {
        width: 99% !important;
        left: 1% !important;
    }

    .wsmenu>.wsmenu-list>li>.navtext>span {
        font-size: 13px;
        line-height: 22px;
    }

    .videos {
        background: #ffffff;
    }

    .videos ul {
        padding-top: 0px !important;
    }

    .wsmenu>.wsmenu-list>li>ul.sub-menu2 {
        border-radius: 0px;
        border: none;
    }

    .wsmenu>.wsmenu-list>li>ul.sub-menu2>li>a {
        font-size: 11px;
    }

    .videos li {
        line-height: 15px !important;
    }

    .wsmenu>.wsmenu-list>li>.wsmegamenu.halfmenu2 {
        margin-left: 0px !important;
    }

    .wsmenu>.wsmenu-list>li.wsshopmyaccount>a {
        padding: 0px 0px;
    }

    .wsmenu>.wsmenu-list>li>.wsmegamenu.halfmenu {
        width: 100%;
        margin-left: 0px;
        top: 0px;
        border-radius: 0px;
    }

    .halfmenu {
        left: 0px !important;
    }

    .halfmenu .padding-remove {
        padding: 0px 15px;
    }

    .videos li:first-child {
        padding-top: 11px;
    }

    .wsmenu>.wsmenu-list>li .wstliststy06 {
        padding: 4px 0px 22px 6px;
    }

    .download-text {
        font-size: 18px;
    }

    .download-app-icons img {
        width: 37%;
    }

    .download-app-icons img:first-child {
        margin-right: 10px;
    }

    /*    .right-block-marketing{
            margin-left: 0px;
        }*/
    .marketing-icon-text {
        font-size: 12px;
        margin-top: 12px;
    }

    .questions {
        height: auto;
        min-height: auto;
        padding: 10px 0px;
    }

    .mt-110 {
        margin-top: 36px;
    }

    .green-arrow-left {
        left: -15px;
        top: 245px;
    }

    .sw-testing-right h3 {
        font-size: 18px;
        padding-top: 6%;
    }

    .digital-right {
        display: block;
    }

    #marketing .btn-digitalgyan {
        display: none;
    }

    #marketing .marketing-right {
        width: 100%;
        height: 114px;
        min-height: 114px;
        padding: 16px 5px;
        margin-top: 7px;
    }

    #marketing span {
        padding-top: 0% !important;
        line-height: 14px;
    }

    #marketing .marketing-right img {
        height: 46px;
        min-height: 46px;
    }

    .android-mobile {
        display: block;
    }

    #marketing .right-block-marketing {
        padding-top: 5%;
    }

    .rounded-circle {
        border-radius: 0px !important;
    }

    .rounded-circle img {
        height: 40px;
        min-height: 40px;
    }

    #software-test .marketing-right {
        width: 100%;
        height: 95px;
        min-height: 95px;
        padding: 16px 0px;
        line-height: 9px;
    }

    #software-test {
        padding: 0% 0px;
        padding-bottom: 7%;
    }

    .marketing-column .rounded-circle {
        margin-bottom: 0%;
        margin-top: 16%;
    }

    .tutorials {
        padding-top: 0px !important;
    }

    #software-test .mt-110 {
        margin-top: 5px !important;
    }

    .rounded-circle span {
        line-height: 14px;
        text-align: center;
        padding-left: 3px;
        padding-right: 2px;
        margin-top: 11px;
        padding-top: 0px;
        text-transform: capitalize !important;
    }

    .plc-background span {
        width: 100%;
        font-size: 13px;
        padding: 0px 0px;
        padding-top: 12%;
        float: none;
    }

    .plc-background .marketing-right {
        padding: 9px 16px;
        height: 150px;
        min-height: 150px;
        width: 100%;
        margin-bottom: 27px;
    }

    .questions span {
        padding: 0px 12px;
    }

    .plc-sideimg {
        margin: 0px auto;
        float: none !important;
    }

    .plc-background .btn-digitalgyan {
        display: none;
    }

    .plc-background .right-block-marketing {
        padding-top: 9%;
    }

    #java .btn-digitalgyan {
        display: none;
    }

    .plc-background .marketing-icon-text {
        line-height: 15px;
        text-align: center !important;
    }

    .plc-background {
        padding: 4px 0px;
        padding-bottom: 15px;
    }

    .plc-right h3 {
        font-size: 20px;
        margin-top: 7px;
    }

    .study-text {
        width: 100% !important;
        padding: 13% 9% !important;
    }

    .answer {
        padding-left: 0% !important;
    }

    .plc-background .marketing-right img {
        float: none !important;
    }

    #android .marketing-right {
        width: 100% !important;
        height: 177px;
        min-height: 177px;
    }

    #android .download-text {
        font-size: 23px;
        margin: 19px auto;
    }

    .android-images {
        width: 107px;
        height: 107px;
    }

    .android-row {
        padding-top: 10%;
    }

    #android .marketing-right img {
        height: 60px;
        min-height: 60px;
        margin: 16px auto;
    }

    #android .marketing-icon-text {
        line-height: 16px;
        padding-top: 0px;
        padding: 0px 14px;
    }

    #android {
        padding: 1% 0px;
        padding-bottom: 2%;
    }

    #java {
        padding: 0% 0px;
        padding-bottom: 5%;
    }

    #python {
        padding: 0% 0px;
        padding-bottom: 5%;
    }

    .python-mobile {
        display: block;
    }

    .news-feed {
        padding-top: 10%;
    }

    #python .marketing-right img {
        height: 49px;
        min-height: 49px;
    }

    #python span {
        padding: 15px 27px;
        margin-top: 3px;
    }

    #python .marketing-icon-text {
        line-height: 15px;
    }

    #python .marketing-right {
        height: 158px;
        min-height: 158px;
        width: 100%;
    }

    #java .right-block-marketing {
        padding-top: 33px;
    }

    #java .imagss {
        height: 66px;
        min-height: 66px;
        margin-top: 7px;
    }

    #java .marketing-right {
        width: 343px;
    }

    #android h3 {
        padding-bottom: 0%;
        padding-top: 5%;
    }

    .terms-left {
        width: 149px;
        height: 90px;
    }

    .terms-left2 {
        width: 135px;
        height: 90px;
    }

    .course-heading {
        padding-top: 3%;
        font-size: 18px !important;
    }

    .plc-right {
        padding: 8px;
        padding-bottom: 11px;
        border-radius: 0px;
    }

    .padding-responsive {
        padding: 0px;
    }

    #java .marketing-icon-text {
        padding: 8% 8%;
        font-size: 13px;
    }

    .android {
        padding: 9px;
        padding-bottom: 12px;
    }

    .j-answer {
        padding: 7% 6% !important;
    }

    #footer ul {
        padding: 0px;
    }

    #footer a {
        padding: 0px 4px;
        font-size: 11px;
    }

    #last-footer li {
        font-size: 11px;
        padding: 5px 0px;
        text-align: center;
    }

    #last-footer {
        padding: 10px 0px;
    }

    .right-block-marketing {
        padding-left: 0px;
    }

    /*study-material page css*/
    .mid-section h1 {
        font-size: 14px;
        padding: 16% 4%;
        padding-bottom: 0px;
    }

    #bredcum span {
        font-size: 11px;
        padding-top: 0px;
    }

    #bredcum h4 {
        font-size: 14px;
    }

    #bredcum {
        padding: 18px 0px;
    }

    #bredcum i {
        font-size: 9px;
        padding: 0px 2px;
    }

    .digital-intro {
        margin-top: 7%;
    }

    .digital-intro h5 {
        font-size: 12px;
    }

    .digital-intro button {
        font-size: 11px;
    }

    .digital-intro p {
        font-size: 13px;
    }

    .left-side-panel {
        margin-bottom: 10px;
    }

    .toggle {
        display: block;
    }

    #target {
        display: none;
    }

    .sidemenu {
        background: #0095ff;
        width: 100%;
        color: #ffffff;
        padding: 2% 4%;
        display: block;
    }

    .sidemenu button {
        background: none;
        border: none;
        margin-right: 2%;
        color: #ffffff;
    }

    .mid-section {
        margin-top: 15px;
    }

    .left-side-panel h2 {
        margin-top: 3%;
    }

    #seacr_panel .select-dropdown .form-control {
        padding: 0px 14px;
    }

    #seacr_panel {
        width: 100%;
    }

    .stepprocess1 .wsmenu>.wsmenu-list>li>.navtext {
        padding-top: 15px;
    }

    #seacr_panel .select-dropdown #withSelect {
        width: 100%;
        padding: 0px 3px;
        font-size: 13px;
        height: 39px;
    }

    #vedios-tutorial .select-dropdown {
        width: 18%;
    }

    #vedios-tutorial .input-group-btn i {
        font-size: 18px;
    }

    #vedios-tutorial .input-group-btn button {
        padding: 9px 14px;
        font-size: 13px;
    }

    .vedio-form {
        padding: 21px 21px;
    }

    #vedios-tutorial .vedio-search {
        height: 39px;
        font-size: 14px;
    }

    #tutorials h1 {
        font-size: 23px;
        padding: 6% 0px;
    }

    #tutorials .tab-slider--trigger {
        padding: 18px 24px;
        font-size: 13px;
    }

    #tutorials .tab-slider--nav {
        width: 100%;
    }

    #tutorials .tab-slider--tabs {
        margin-bottom: 8%;
    }

    .vedio-1 img {
        width: 100%;
        min-height: 80px;
        height: 80px;
    }

    .vedio-duration {
        bottom: 35%;
    }

    .vedio-1 h5 {
        font-size: 13px;
        line-height: 16px;
        padding: 5% 4%;
        margin-bottom: 4px;
        padding-bottom: 0%;
    }

    .vedio-1 span {
        font-size: 12px;
        padding: 0px 4px;
    }

    .english-tab {
        margin-top: 0px;
    }

    .vedio-1 {
        margin-bottom: 19%;
    }

    #footer ul {
        display: none;
    }

    #footer {
        padding: 0px;
    }

    #view-vedio iframe {
        height: 185px;
        min-height: 185px;
    }

    #video-des h5 {
        font-size: 15px;
        padding-bottom: 0px;
    }

    #video-des p {
        font-size: 12px;
        text-align: justify;
        padding-bottom: 0px;
    }

    .quotes-des {
        padding: 12px 20px !important;
        line-height: 22px !important;
        font-size: 14px !important;
    }

    /*question answer page css*/
    .side-men i {
        float: none !important;
        position: absolute;
        font-size: 12px;
        top: 6px;
        right: 5px;
    }

    .asks-ans .like-dislike i {
        position: inherit !important;
    }

    .asks-ans .question-type {
        position: relative;
        padding: 11px 0px;
    }

    .side-men {
        position: inherit;
    }

    .answer-pannel .side-men i {
        font-size: 13px;
        top: 9px;
        right: -5px;
    }

    .answer-type .like-dislike {
        margin-left: 5px;
    }

    #ques-ans h1 {
        font-size: 19px;
    }

    #ques-ans .like-dislike span i {
        position: inherit !important;
    }

    #ques-ans .input-group-btn button {
        padding: 7px 14px;
        margin-top: 13px;
    }

    #seacr_panel .input-group-btn button {
        font-size: 13px;
    }

    #ques-ans .select-dropdown {
        margin: 0px 11px;
        width: 42%;
    }

    #ques-ans .vedio-form {
        padding: 17px 14px;
        padding-left: 15px;
    }

    .ask-ques h5 {
        font-size: 15px;
    }

    .question-type {
        margin-bottom: 7%;
    }

    .asks-ans .question-type {
        margin-bottom: 2%;
    }

    #ques-ans .vedio-search {
        font-size: 14px;
        height: 35px;
        margin-left: 0px;
        margin-top: 13px;
    }

    #ques-ans #seacr_panel .select-dropdown #withSelect {
        padding: 0px 21px;
        height: 35px;
    }

    .post-ques button {
        padding: 4px 7px;
        font-size: 14px;
        margin-top: 13px;
    }

    .question-type h3 {
        font-size: 16px;
        width: 90%;
        padding: 1px 8px;
    }

    .question-type u {
        font-size: 16px;
    }

    .question-type li a {
        font-size: 14px;
    }

    .question-type li {
        margin: 5px 3px;
    }

    .like-dislike {
        font-size: 12px;
    }

    .like-dislike {
        padding-top: 3%;
        float: none !important;
    }

    .ques-side {
        float: none !important;
        padding-top: 0%;
    }

    .asks-ans .like-dislike {
        padding-top: 3% !important;
    }

    .ques-side2 span {
        padding-top: 0px;
    }

    .answer-type p {
        font-size: 14px;
        width: 100%;
        text-align: justify;
    }

    .ques-side span {
        font-size: 12px;
        padding: 0px 5px;
    }

    .ques-side img {
        margin: 0px 1px;
    }

    .ask-ques h5 {
        font-size: 14px;
    }

    .ques-side2 {
        padding: 0px 7px;
    }

    #ques-ans {
        padding: 8% 0px;
        padding-bottom: 10%;
    }

    .header-mains .owl-carousel .owl-item img {
        width: 100%;
    }

    /*pactice quiz page css*/
    #practice-quiz h3 {
        font-size: 22px;
        padding-top: 15px;
    }

    #practice-quiz p {
        font-size: 13px;
    }

    #practice-quiz .digital-intro h5 {
        font-size: 13px;
    }

    #practice-quiz {
        padding: 8% 0px;
        padding-bottom: 9%;
    }

    .radio i {
        font-size: 20px;
    }

    .radio-label {
        font-size: 14px;
        width: 279px;
    }

    .radio input[type="radio"]+.radio-label:before {
        width: 21px;
        height: 21px;
    }

    .header .owl-theme .owl-nav.disabled+.owl-dots {
        position: relative;
        bottom: 23px;
        margin-top: 0px;
    }

    /*   key trends page css*/
    #key-form .header-submit {
        font-size: 13px;
        padding: 9px 18px;
    }

    .all-button li a {
        padding: 9px 15px;
        font-size: 11px;
    }

    #key-form {
        padding: 23px 18px;
        padding-bottom: 3px;
        margin-bottom: 8%;
    }

    #key-form #seacr_panel .vedio-search {
        height: 45px;
        font-size: 14px;
    }

    #key-form #seacr_panel .input-group-btn button {
        padding: 12px 24px;
    }

    .all-button ul {
        padding: 12px 0px;
    }

    .all-button li {
        padding: 9px 3px;
    }

    .panel-in {
        width: 66px;
        height: 66px;
        font-size: 39px;
    }

    .a-panel {
        padding: 40px 15px;
        width: 36%;
    }

    .answer-dis {
        padding: 13px 17px;
        margin-left: 0px;
    }

    .answer-panel h5 {
        font-size: 15px;
    }

    .answer-panel p {
        font-size: 13px;
        text-align: justify;
        margin-bottom: 0px;
    }

    .answer-panel {
        margin-bottom: 5%;
        background-size: 31% 103%;
    }

    /* ask answer popup css*/
    #ask-answer .modal-content {
        width: 100%;
        margin-top: 25%;
    }

    #ask-answer h4 {
        font-size: 18px;
    }

    #ask-answer h5 {
        font-size: 16px;
    }

    .ask-modal {
        left: 0px;
    }

    #ask-answer .modal-body {
        padding: 21px;
        padding-bottom: 8px;
    }

    #ask-answer .close {
        font-size: 20px;
        padding: 4px 8px;
    }

    #ask-answer .modal-header {
        padding-top: 9px;
        padding-bottom: 10px;
    }

    #ask-answer textarea {
        height: 131px;
        margin-top: 7%;
    }

    #ask-answer .all-button {
        font-size: 14px;
        padding: 8px 29px;
    }

    #ask-answer .modal-footer {
        padding-bottom: 26px !important;
        padding: 23px;
    }

    /*login popup css*/
    .login-modal {
        padding-right: 0px !important;
    }

    #login-popup .modal-content {
        width: 100%;
        margin-left: 0px;
    }

    .login-modal .modal-dialog {
        margin-top: 19%;
    }

    .login-modal h1 {
        font-size: 33px;
    }

    #login-popup .modal-body {
        padding-left: 23px !important;
        padding: 15px;
        padding-right: 22px;
        padding-bottom: 14px;
    }

    .login-modal h5 {
        font-size: 16px;
    }

    .login-modal .form-fields {
        font-size: 12px;
        padding: 10px 11px;
    }

    .remember {
        font-size: 13px;
    }

    #login-popup h3 {
        font-size: 13px;
    }

    .login-modal u {
        font-size: 14px;
        padding-top: 3%;
    }

    .form-fields::placeholder {
        font-size: 13px;
    }

    #login-popup .help-block {
        font-size: 11px;
    }

    /*competion page css*/
    .all-exams h3 {
        font-size: 18px;
        text-align: center;
    }

    .all-exams p {
        font-size: 15px;
        padding-top: 10px;
        text-align: center;
        padding-right: 0px;
        text-align: justify;
        line-height: 25px;
    }

    #all-competition {
        padding: 6.5% 0px;
    }

    .all-exams {
        padding: 13px;
        padding-bottom: 28px;
        padding-top: 21px;
        margin: 20px 0px;
    }

    .all-topic {
        padding: 34px 0px;
        height: 107px;
        margin-top: 19%;
        min-height: 107px;
    }

    .all-topic h4 {
        font-size: 13px;
        line-height: 21px;
        letter-spacing: 0.3px;
    }

    .all-topic span i {
        font-size: 8px;
    }

    .all-topic span {
        font-size: 11px;
    }

    .tier h1 {
        font-size: 23px;
    }

    .tier {
        padding: 21px 0px;
    }

    /*test grammar knowledge*/
    .show-text {
        width: 36px;
        height: 36px;
        font-size: 19px;
        float: none !important;
        margin: 0px auto;
        display: block;
        padding: 4px;
    }

    .all-exams h5 {
        padding-top: 8px;
        font-size: 14px;
        padding-left: 6px;
        text-align: center;
        float: none !important;
    }

    .grammar-test {
        padding: 11px 3px;
        height: 95px;
        margin-top: 20%;
        min-height: 95px;
    }

    .grammar-test p {
        line-height: 2px !important;
        font-size: 11px !important;
    }

    .online h5 {
        padding-top: 7px;
    }

    .actives h5 {
        padding-top: 5px !important;
    }

    .all-test h4 {
        font-size: 17px;
        padding-top: 8%;
    }

    .all-test .all-exams {
        padding-top: 21px;
        padding-bottom: 21px;
    }

    /*   finding spotting error page css*/
    .all-quesshow h5 {
        width: 86%;
        font-size: 14px;
    }

    .all-quesshow li {
        font-size: 13px;
        width: 100%;
        padding: 5px 0px;
    }

    .all-quesshow b {
        width: 86%;
    }

    .show-answer h4 {
        font-size: 13px;
    }

    .show-answer button {
        font-size: 13px;
    }

    .all-quesshow {
        margin-top: 6%;
    }

    /*forgot password popup css*/
    #forgot-password .modal-content {
        width: 100%;
        margin-left: 0px;
    }

    #forgot-password h1 {
        font-size: 23px;
    }

    #forgot-password .modal-body {
        padding-left: 19px !important;
        padding: 14px;
        padding-right: 15px;
        padding-bottom: 14px;
    }

    #signup-popup .modal-content {
        width: 100%;
        margin-left: 0px;
    }

    #signup-popup .modal-body {
        padding-left: 22px !important;
        padding: 15px;
        padding-right: 18px;
    }

    #signup-popup {
        padding-left: 0px !important;
    }

    .login-modal h6 {
        padding: 7px 0px;
    }

    .login-modal .social-icon i {
        font-size: 16px;
    }

    .login-modal .social-icon li {
        height: 41px;
        width: 41px;
    }

    #signup-popup .all-button {
        font-size: 13px;
        padding: 8px 42px;

    }

    .login-modal .social-icon .twitter {
        padding: 11px 14px;
    }

    .login-modal .social-icon .facebook {
        padding: 10px 17px;
    }

    #ask-your-question {
        margin-top: 18%;
    }

    .field-icon {
        margin-top: -27px;
    }

    .ask-modal .cancel-button {
        font-size: 15px;
    }

    .ask-modal .all-button {
        font-size: 14px;
        padding: 9px 29px;
    }

    /*ssc pre test css*/
    #ssc-pre ul {
        overflow-x: auto !important;
        overflow-y: hidden;
        /*      margin: 28px 0 -30px;*/
    }

    #ssc-pre .tsst {
        overflow: hidden;
    }

    #ssc-pre .card-body {
        padding-right: 0px;
    }

    #ssc-pre h3 {
        font-size: 15px;
        width: 90%;
        text-align: justify;
    }

    #ssc-pre i {
        font-size: 15px;
    }

    .question-in {
        margin: 0px 0px;
    }

    .capital-word {
        font-size: 16px;
    }

    .answer-options {
        font-size: 14px;
        padding: 8px 17px;
    }

    .answer-buttons .all-button {
        padding: 8px 5px;
        font-size: 12px;
    }

    .tag-erase button {
        padding: 8px 13px !important;
    }

    .tag-erase button:first-child {
        margin: 0px 3px;
    }

    .tag-erase {
        width: 52%;
    }

    .answer-buttons {
        padding: 6% 0px;
        margin-top: 7%;
        padding-bottom: 5px;
    }

    .preview button {
        padding: 11px 22px;
        margin-top: 8%;
    }

    .view-quiz {
        margin-top: 9%;
        padding-top: 7%;
    }

    .view-quiz li {
        padding: 6px 2px;
        width: 34px;
        height: 33px;
    }

    .view-quiz li a {
        font-size: 15px;
    }

    .view-quiz h5 {
        margin-bottom: 5%;
        font-size: 17px;
    }

    .legends h5 {
        margin-bottom: 5%;
        font-size: 18px;
    }

    .legends button {
        font-size: 13px;
    }

    .allcourse-subjects {
        margin: 10px 5px 0 !important;
        padding-bottom: 5px !important;
    }

    .allcourse-subjects ul::-webkit-scrollbar {
        width: 0px;
        height: 0px;
    }

    .allcourse-subjects ul {
        display: flex !important;
        white-space: nowrap !important;
        overflow-x: auto !important;
        overflow-y: hidden;
        width: 100%;
        padding: 0px !important;
        list-style: none !important;
    }

    #ssc-pre {
        padding: 4.5% 0px;
        padding-bottom: 10%;
    }

    .related-vedios h2 {
        font-size: 22px;
    }

    #related-videos .owl-prev {
        left: -7%;
        top: 35%;
        font-size: 38px;
    }

    #related-videos .owl-next {
        right: -7%;
        top: 35%;
        font-size: 38px;
    }

    .related-vedios iframe {
        height: 142px !important;
        min-height: 142px;
    }

    .related-1 {
        padding-bottom: 3px;
    }

    .related-vedios h5 {
        padding: 0% 6%;
        font-size: 13px;
    }

    #related-videos .owl-prev {
        display: none;
    }

    #related-videos .owl-next {
        display: none;
    }

    #ssc-pre h6 {
        padding-top: 4%;
    }

    #main-slider .owl-prev {
        display: none;
    }

    #main-slider .owl-next {
        display: none;
    }

    .answer-pading {
        padding-left: 0px;
    }

    .question-in .radio-label {
        font-size: 12px;
    }

    .question-in input[type="radio"]+.radio-label:before {
        padding: 1px 0px;
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    .interview_inner {
        display: none;
    }

    .interview-li h4 i {
        display: block;
        float: right;
        margin-right: 7px;
    }

    .subject-panel-text {
        text-align: center;
        font-size: 12px;
    }

    .interview-li .wstheading {
        padding-top: 2% !important;
    }

    .halfmenu .padding-remove {
        padding: 0px 15px;
    }

    .menu-other span i {
        display: none;
    }

    .wsmenu>.wsmenu-list>li .wstliststy06 li a {
        font-size: 12px;
    }

    .wsmenu>.wsmenu-list>li .wstheading {
        cursor: pointer;
    }

    .wsmenu>.wsmenu-list>li .wstheading {
        margin-top: 1px;
        font-size: 12px;
        padding: 1px 0px 6px 9px;
    }

    .course-heading {
        font-size: 21px;
        padding-top: 5%;
    }

    .wsmenu>.wsmenu-list>li>ul.sub-menu2 {
        border: none;
    }

    .btn-digitalgyan {
        padding: 4px 17px;
        font-size: 13px;
    }

    .marketing-right {
        width: 88%;
        float: left;
    }

    .plc-background .btn-digitalgyan {
        display: none;
    }

    .padding-responsive {
        padding: 0px;
    }

    .plc-right {
        padding-bottom: 1px;
        padding: 1px;
        border-radius: 0px;
    }

    .sw-testing-right {
        padding: 2px;
        padding-bottom: 15px;
        border-radius: 0px;
    }

    .menu-head {
        margin-left: 0px !important;
    }

    .wsmenu>.overlapblackbg {
        width: auto;
    }

    #marketing .btn-digitalgyan {
        display: none;
    }

    .halfmenu2 {
        width: 100% !important;
        left: 2% !important;
    }

    .wsmenu>.wsmenu-list>li .wstliststy06 {
        padding: 10px 0px 23px 4px;
    }

    #marketing {
        padding-top: 8%;
    }

    .videos li:first-child {
        padding-top: 11px;
    }

    .videos ul {
        padding-top: 0px !important;
    }

    .videos li {
        line-height: 18px !important;
    }

    .videos {
        background: #fff;
    }

    .wsmenu>.wsmenu-list>li>.navtext {
        padding: 0px 25px;
    }

    .stepprocess1 .wsmenu>.wsmenu-list>li>.navtext {
        padding-top: 9px;
    }

    .wsmenu>.wsmenu-list>li>.wsmenu-click {
        border-left: 0px;
    }

    .wsmenu>.wsmenu-list>li.wsshopmyaccount>a {
        padding: 0px 0px;
    }

    .wsmenu>.wsmenu-list>li>.wsmegamenu.halfmenu {
        width: 100%;
        margin-left: 0px;
    }

    .halfmenu {
        left: 0px !important;
    }

    .download-text {
        font-size: 18px;
    }

    .download-app-icons img {
        width: 28%;
    }

    .download-app-icons img:first-child {
        margin-right: 10px;
    }

    .header p {
        font-size: 24px;
        line-height: 24px;
    }

    .header {
        height: 203px;
        min-height: 203px;
        padding-top: 1%;
    }

    .header h1 {
        font-size: 31px;
        padding-top: 8px;
    }

    .digital-marketing-right {
        padding: 0px;
        padding-bottom: 13px;
        border-radius: 0px;
    }

    .marketing-icon-text {
        font-size: 12px;
        margin-top: 18px;
    }

    .questions {
        height: auto;
        min-height: auto;
        padding: 10px 0px;
    }

    .mt-110 {
        margin-top: 36px;
    }

    .green-arrow-left {
        left: -15px;
        top: 245px;
    }

    .sw-testing-right h3 {
        font-size: 20px;
    }

    .digital-right {
        display: block;
    }

    #marketing .marketing-right {
        width: 100%;
        height: 108px;
        min-height: 108px;
        margin-bottom: 29px;
        padding: 16px 11px;
    }

    #marketing span {
        padding-top: 0% !important;
        line-height: 14px;
    }

    #software-test {
        padding: 4% 0px;
        padding-bottom: 3%;
    }

    #marketing .marketing-right img {
        height: 46px;
        min-height: 46px;
    }

    .android-mobile {
        display: block;
    }

    #marketing .right-block-marketing {
        padding-top: 8%;
    }

    .rounded-circle {
        border-radius: 0px !important;
    }

    .rounded-circle img {
        height: 40px;
        min-height: 40px;
    }

    .questions span {
        padding: 0px 2px;
    }

    #software-test .marketing-right {
        width: 100%;
        height: 106px;
        min-height: 106px;
        line-height: 9px;
        margin-bottom: 0px;
        padding: 16px 0px;
        margin-top: 13%;
    }

    .marketing-column .rounded-circle {
        margin-bottom: 16%;
    }

    #software-test .mt-110 {
        margin-top: 6px;
    }

    .tutorials {
        padding-top: 4px !important;
    }

    .rounded-circle span {
        line-height: 16px;
    }

    .plc-background span {
        width: 100%;
        font-size: 13px;
        text-align: center;
        /* padding: 0px 44px;*/
        padding-top: 8%;
    }

    .plc-background .marketing-icon-text {
        line-height: 15px;
        text-align: center !important;
    }

    .plc-background .marketing-right {
        padding: 14px 16px;
        height: 157px;
        min-height: 157px;
        width: 100%;
        margin-top: 5%;
    }

    .plc-background {
        padding: 0px 0px;
        padding-bottom: 23px;
    }

    .plc-right h3 {
        font-size: 20px;
        margin-top: 2px;
        padding-bottom: 14px;
    }

    .study-text {
        width: 100% !important;
        padding: 8% 25% !important;
    }

    #java .btn-digitalgyan {
        display: none;
    }

    .answer {
        padding-left: 8% !important;
    }

    #android h3 {
        padding-bottom: 1%;
        padding-top: 6%;
    }

    .android-images {
        width: 110px;
        height: 110px;
    }

    .plc-background .marketing-right img {
        float: none !important;
    }

    .plc-background .right-block-marketing {
        padding-top: 5%;
    }

    #android .marketing-right {
        width: 100% !important;
        height: 172px;
        min-height: 172px;
    }

    .plc-sideimg {
        float: none !important;
        margin: 0px auto;
    }

    .plc-panel-text {
        text-align: center;
        font-size: 13px;
    }

    #android .download-text {
        font-size: 23px;
        margin: 19px auto;
    }

    .android-row {
        padding-top: 10%;
    }

    #android .marketing-right img {
        height: 58px;
        min-height: 58px;
    }

    #android .marketing-icon-text {
        line-height: 16px;
        padding-top: 0px;
        padding: 0px 14px;
    }

    #android {
        padding: 1% 0px;
        padding-bottom: 5%;
    }

    #java {
        padding: 0% 0px;
        padding-bottom: 5%;
    }

    #python {
        padding: 0% 0px;
        padding-bottom: 5%;
    }

    .python-mobile {
        display: block;
    }

    .news-feed {
        padding-top: 10%;
    }

    #python .marketing-right img {
        height: 49px;
        min-height: 49px;
    }

    #python span {
        padding: 15px 27px;
        margin-top: 3px;
    }

    #python .marketing-icon-text {
        line-height: 15px;
    }

    #python .marketing-right {
        height: 158px;
        min-height: 158px;
        width: 100%;
    }

    #java .right-block-marketing {
        padding-top: 33px;
    }

    #java .imagss {
        height: 65px;
        min-height: 65px;
        margin-top: 9px;
    }

    #java .marketing-right {
        width: 310px;
    }

    .terms-left {
        width: 149px;
        height: 90px;
    }

    .terms-left2 {
        width: 135px;
        height: 90px;
    }

    #java .marketing-icon-text {
        padding: 4% 5%;
    }

    #java .marketing-icon-text {
        font-size: 12px;
    }

    .j-answer {
        padding: 4% 2% !important;
    }

    #footer ul {
        padding: 0px;
    }

    #footer a {
        padding: 0px 4px;
        font-size: 11px;
    }

    #last-footer li {
        font-size: 11px;
        padding: 5px 0px;
        text-align: center;
    }

    #last-footer {
        padding: 10px 0px;
    }

    .right-block-marketing {
        padding-left: 0px;
    }

    /*study-material page css*/
    .mid-section h1 {
        font-size: 14px;
        padding: 11% 4%;
        padding-bottom: 0px;
    }

    #bredcum span {
        font-size: 13px;
        padding-top: 3px;
    }

    #bredcum {
        padding: 19px 0px;
    }

    #bredcum i {
        font-size: 10px;
        padding: 0px 4px;
    }

    .digital-intro {
        margin-top: 7%;
    }

    .digital-intro h5 {
        font-size: 12px;
    }

    .digital-intro button {
        font-size: 11px;
    }

    .digital-intro p {
        font-size: 13px;
    }

    .left-side-panel {
        margin-bottom: 10px;
    }

    .toggle {
        display: block;
    }

    #target {
        display: none;
    }

    .sidemenu {
        background: #0095ff;
        width: 100%;
        color: #ffffff;
        padding: 2% 4%;
        display: block;
    }

    .sidemenu button {
        background: none;
        border: none;
        margin-right: 2%;
        color: #ffffff;
    }

    .mid-section {
        margin-top: 15px;
    }

    .left-side-panel h2 {
        margin-top: 3%;
    }

    #tutorials .tab-slider--trigger {
        padding: 16px 32px;
        font-size: 14px;
    }

    #tutorials .tab-slider--nav {
        width: 100%;
    }

    #tutorials h1 {
        font-size: 26px;
    }

    .vedio-form {
        padding: 21px 21px;
    }

    #seacr_panel .select-dropdown #withSelect {
        padding: 0px 7px;
        height: 44px;
        font-size: 14px;
    }

    #vedios-tutorial .vedio-search {
        height: 44px;
    }

    #vedios-tutorial .input-group-btn button {
        padding: 11px 24px;
        ;
        font-size: 13px;
    }

    .vedio-1 h5 {
        padding: 4% 4%;
        padding-bottom: 0%;
        font-size: 14px;
        line-height: 18px;
        margin-bottom: 7px;
    }

    .vedio-1 img {
        height: 128px;
        min-height: 128px;
    }

    .vedio-1 span {
        padding: 0px 4px;
    }

    .vedio-1 {
        padding-bottom: 8px;
        margin-bottom: 13%;
    }

    #key-form #seacr_panel .vedio-search {
        height: 54px;
    }

    .vedio-duration {
        bottom: 33%;
    }

    #tutorials .tab-slider--tabs {
        width: 100%;
    }

    #view-vedio iframe {
        height: 253px;
    }

    #video-des h2 {
        font-size: 16px;
    }

    #video-des p {
        font-size: 13px;
        text-align: justify;
    }

    .quotes-des {
        line-height: 24px !important;
        font-size: 14px !important;
    }

    #video-des h5 {
        padding-bottom: 4px;
    }

    /*question answer page css*/
    #ques-ans h1 {
        font-size: 19px;
    }

    #ques-ans .input-group-btn i {
        font-size: 18px;
    }

    #ques-ans .input-group-btn button {
        padding: 9px 14px;
    }

    #ques-ans .vedio-search {
        font-size: 14px;
        height: 42px;
    }

    #ques-ans .like-dislike span i {
        position: inherit !important;
    }

    #ques-ans #seacr_panel .select-dropdown #withSelect {
        padding: 0px 29px;
        height: 44px;
    }

    .post-ques button {
        padding: 4px 7px;
        font-size: 14px;
    }

    .question-type h3 {
        font-size: 18px;
        width: 92%;
        padding: 3px 8px;
    }

    .question-type u {
        font-size: 18px;
    }

    .question-type li a {
        font-size: 13px;
    }

    .question-type li {
        margin: 5px 3px;
    }

    .like-dislike {
        font-size: 12px;
    }

    .like-dislike {
        padding-top: 3%;
        float: none !important;
    }

    .asks-ans .like-dislike {
        padding-top: 2%;
    }

    .answer-type .like-dislike {
        padding-top: 3% !important;
        margin-left: 1px;
    }

    .answer-type p {
        width: 100%;
        text-align: justify;
        font-size: 14px;
    }

    .ques-side {
        float: none !important;
        padding-top: 0%;
    }

    .ques-side span {
        font-size: 12px;
        padding: 0px 7px;
    }

    .ques-side img {
        margin: 0px 1px;
    }

    .ques-side2 {
        padding: 0px 7px;
    }

    #ques-ans {
        padding: 8% 0px;
        padding-bottom: 10%;
    }

    .wsmenu>.wsmenu-list>li>.wsmegamenu.halfmenu {
        top: 0px;
        border-radius: 0px;
    }

    .header-mains .owl-carousel .owl-item img {
        width: 100%;
    }

    .flip {
        display: none;
    }

    .side-men i {
        float: none !important;
        position: absolute;
        font-size: 14px;
        top: 8px;
        right: 7px;
    }

    .asks-ans .like-dislike i {
        position: inherit !important;
    }

    .asks-ans .question-type {
        position: relative;
        padding: 11px 0px;
    }

    .side-men {
        position: inherit;
    }

    .answer-pannel .side-men i {
        font-size: 14px;
        top: 9px;
        right: -6px;
    }

    /*pactice quiz page css*/
    #practice-quiz h3 {
        font-size: 22px;
        padding-top: 15px;
    }

    #practice-quiz p {
        font-size: 13px;
    }

    #practice-quiz .digital-intro h5 {
        font-size: 13px;
    }

    #practice-quiz {
        padding: 5% 0px;
        padding-bottom: 5%;
    }

    .radio i {
        font-size: 20px;
    }

    .radio-label {
        font-size: 14px;
        width: 279px;
    }

    .radio input[type="radio"]+.radio-label:before {
        width: 21px;
        height: 21px;
    }

    .header .owl-theme .owl-nav.disabled+.owl-dots {
        position: relative;
        bottom: 71px;
        margin-top: 0px;
    }

    .wsmenu>.wsmenu-list {
        margin-left: -394px;
    }

    #bredcum h4 {
        font-size: 18px;
        margin-bottom: 0px;
    }

    /*   key trends page css*/
    #key-form .header-submit {
        font-size: 13px;
        padding: 9px 18px;
    }

    .all-button li a {
        padding: 9px 14px;
        font-size: 11px;
    }

    #key-form {
        padding: 23px 18px;
        padding-bottom: 3px;
        margin-bottom: 8%;
    }

    .all-button ul {
        padding: 12px 0px;
    }

    .all-button li {
        padding: 9px 3px;
    }

    .panel-in {
        width: 66px;
        height: 66px;
        font-size: 39px;
    }

    .a-panel {
        padding: 33px 15px;
        width: 36%;
    }

    .answer-dis {
        padding: 13px 17px;
        margin-left: 0px;
    }

    .answer-panel h5 {
        font-size: 16px;
    }

    .answer-panel p {
        font-size: 14px;
        text-align: justify;
        margin-bottom: 0px;
    }

    .answer-panel {
        margin-bottom: 5%;
        background-size: 31% 103%;
    }

    #ques-ans .select-dropdown {
        width: 47%;
        margin: 0px 0px;
        margin-bottom: 17px;
    }

    #ques-ans .select-dropdown:first-child {
        margin: 0px 10px;
    }

    .ask-ques h5 {
        font-size: 13px;
    }

    /* ask answer popup css*/
    .ask-modal .modal-content {
        margin-top: 25%;
    }

    .ask-modal .modal-dialog {
        max-width: 595px;
    }

    .ask-modal h4 {
        font-size: 18px;
    }

    .ask-modal h5 {
        font-size: 16px;
    }

    .ask-modal {
        left: 0px;
    }

    .ask-modal.modal-body {
        padding: 21px;
        padding-bottom: 8px;
    }

    .ask-modal .close {
        font-size: 20px;
        padding: 4px 8px;
    }

    .ask-modal .modal-header {
        padding-top: 9px;
        padding-bottom: 10px;
    }

    .ask-modal textarea {
        height: 131px;
        margin-top: 5%;
    }

    .ask-modal .all-button {
        font-size: 14px;
        padding: 8px 29px;
    }

    .ask-modal .modal-footer {
        padding-bottom: 26px !important;
        padding: 38px;
    }

    /*login popup css*/
    .login-modal {
        padding-right: 0px !important;
    }

    #login-popup .modal-content {
        width: 100%;
        margin-left: 0px;
    }

    .login-modal .modal-dialog {
        margin-top: 19%;
    }

    #login-popup h1 {
        font-size: 33px;
    }

    #login-popup .modal-body {
        padding-left: 23px !important;
        padding: 15px;
        padding-right: 22px;
        padding-bottom: 14px;
    }

    #login-popup h5 {
        font-size: 16px;
    }

    #login-popup .form-fields {
        font-size: 12px;
        padding: 10px 11px;
    }

    .remember {
        font-size: 13px;
    }

    #login-popup h3 {
        font-size: 13px;
    }

    .login-modal u {
        font-size: 13px;
        padding-top: 6%;
    }

    .form-fields::placeholder {
        font-size: 13px;
    }

    #login-popup .help-block {
        font-size: 11px;
    }

    /*competion page css*/
    .all-exams h3 {
        font-size: 18px;
        text-align: center;
    }

    .all-exams p {
        font-size: 14px;
        text-align: justify;
        padding-top: 10px;
        padding-right: 0px;
        line-height: 25px;
    }

    #all-competition {
        padding: 6.5% 0px;
    }

    .all-exams {
        padding: 13px;
        padding-bottom: 28px;
        padding-top: 21px;
        margin: 20px 0px;
    }

    .all-topic {
        padding: 34px 0px;
        height: 107px;
        margin-top: 15%;
        min-height: 107px;
    }

    .all-topic h4 {
        font-size: 17px;
        line-height: 21px;
        letter-spacing: 0.3px;
    }

    .all-topic span i {
        font-size: 8px;
    }

    .all-topic span {
        font-size: 15px;
    }

    .tier h1 {
        font-size: 23px;
    }

    .tier {
        padding: 21px 0px;
    }

    /*grammar knowledge page css*/
    .grammar-test p {
        line-height: 3px !important;
    }

    .all-test h4 {
        font-size: 19px;
        padding-top: 6%;
    }

    .all-test .all-exams {
        padding-top: 23px;
        padding-bottom: 19px;
    }

    .grammar-test {
        margin-top: 15%;
    }

    /*   finding spotting error page css*/
    .all-quesshow h5 {
        width: 86%;
        font-size: 14px;
    }

    .all-quesshow li {
        font-size: 13px;
        width: 100%;
        padding: 5px 0px;
    }

    .all-quesshow b {
        width: 86%;
    }

    .show-answer h4 {
        font-size: 12px;
    }

    .show-answer button {
        font-size: 13px;
    }

    .all-quesshow {
        margin-top: 6%;
    }

    /*forgot password popup css*/
    #forgot-password .modal-content {
        width: 100%;
        margin-left: 0px;
    }

    #forgot-password h1 {
        font-size: 23px;
    }

    #forgot-password .modal-body {
        padding-left: 19px !important;
        padding: 14px;
        padding-right: 15px;
        padding-bottom: 14px;
    }

    #signup-popup .modal-content {
        width: 100%;
        margin-left: 0px;
    }

    #signup-popup .modal-body {
        padding-left: 22px !important;
        padding: 15px;
        padding-right: 18px;
    }

    #signup-popup {
        padding-left: 0px !important;
    }

    .login-modal .form-fields {
        padding: 6px 11px;
    }

    .field-icon {
        margin-top: -27px;
    }

    .ask-modal .cancel-button {
        font-size: 15px;
    }

    /*ssc pre test css*/
    #ssc-pre ul {
        overflow-x: auto !important;
        overflow-y: hidden;
        /*      margin: 28px 0 -30px;*/
    }

    #ssc-pre .tsst {
        overflow: hidden;
    }

    #ssc-pre .card-body {
        padding-right: 0px;
    }

    #ssc-pre h3 {
        font-size: 15px;
        width: 90%;
        text-align: justify;
    }

    #ssc-pre i {
        font-size: 15px;
    }

    .question-in {
        margin: 0px 0px;
    }

    .answer-buttons .all-button {
        padding: 8px 11px;
        font-size: 13px;
    }

    .tag-erase button {
        padding: 8px 21px !important;
    }

    .tag-erase button:first-child {
        margin: 0px 3px;
    }

    .tag-erase {
        width: 60%;
    }

    .answer-buttons {
        padding: 6% 0px;
        margin-top: 7%;
        padding-bottom: 5px;
    }

    .preview button {
        padding: 11px 22px;
        margin-top: 8%;
    }

    .view-quiz {
        margin-top: 9%;
    }

    .view-quiz h5 {
        margin-bottom: 5%;
    }

    .legends h5 {
        margin-bottom: 5%;
    }

    .allcourse-subjects {

        margin: 10px 5px 0 !important;
        padding-bottom: 5px !important;
    }

    .allcourse-subjects ul {
        display: flex !important;
        white-space: nowrap !important;
        overflow-x: auto !important;
        overflow-y: hidden;
        flex-wrap: inherit;
        width: 100%;
        padding: 0px !important;
        list-style: none !important;
    }

    #ssc-pre {
        padding: 4.5% 0px;
        padding-bottom: 10%;
    }

    .allcourse-subjects ul::-webkit-scrollbar {
        width: 0px;
        height: 0px;
    }

    .related-vedios h2 {
        font-size: 22px;
    }

    .related-vedios h5 {
        padding: 0% 6%;
        font-size: 14px;
    }

    .related-1 {
        padding-bottom: 2px;
    }

    #related-videos .owl-next {
        display: none;
    }

    #related-videos .owl-prev {
        display: none;
    }

    #ssc-pre h6 {
        padding-top: 4%;
    }

    #main-slider .owl-prev {
        display: none;
    }

    #main-slider .owl-next {
        display: none;
    }

    .answer-pading {
        padding-left: 0px;
    }

    .question-in .radio-label {
        font-size: 12px;
        padding: 5px 0px;
    }

    .question-in input[type="radio"]+.radio-label:before {
        padding: 1px 0px;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    #marketing {
        padding-bottom: 5%;
    }

    .menu-other span i {
        display: none;
    }

    .interview_inner {
        display: none;
    }

    .header h1 {
        font-size: 47px;
    }

    .headings-main {
        padding-top: 9%;
    }

    .videos li:first-child {
        padding-top: 11px;
    }

    .halfmenu .padding-remove {
        padding: 0px 15px;
    }

    .header p {
        font-size: 39px;
        line-height: 46px;
    }

    .header {
        height: 273px;
        min-height: 273px;
    }

    .wsmenu>.wsmenu-list>li>.wsmegamenu.halfmenu {
        top: 0px;
    }

    .wsmenu>.wsmenu-list>li .wstheading {
        cursor: pointer;
    }

    .arrow-right {
        display: none !important;
    }

    .digital-marketing-right h3 {
        font-size: 19px;
    }

    .subject-panel-text {
        font-size: 13px;
        line-height: 21px;
        text-align: center !important;
    }

    .btn-digitalgyan {
        font-size: 13px;
        padding: 7px 25px;
        margin-top: 1px;
        margin-bottom: 10px;
    }

    .questions span {
        padding: 0px 5px;
    }

    .download-text {
        font-size: 18px;
    }

    .download-app-icons img {
        width: 35%;
    }

    .download-app-icons img:first-child {
        margin-right: 3%;
    }

    #marketing .marketing-right img {
        min-height: 50px;
        height: 50px;
    }

    .marketing-icon-text {
        font-size: 12px;
    }

    #marketing .marketing-right {
        height: 150px;
        min-height: 150px;
    }

    #marketing span {
        padding-top: 0% !important;
    }

    .marketing-icon-text {
        line-height: 15px;
        margin-top: 18px;
    }

    .marketing-column .rounded-circle {
        height: 134px;
        width: 119px;
        min-height: 134px;
    }

    #software-test .marketing-right img {
        height: 46px;
        min-height: 46px;
    }

    .tutorials {
        padding-top: 3px !important;
    }

    .green-arrow-left {
        display: none !important;
    }

    .sw-testing-right h3 {
        font-size: 19px;
    }

    .plc-right h3 {
        font-size: 19px;
    }

    .plc-panel-text {
        font-size: 13px;
        text-align: center;
    }

    .plc-background .marketing-right img {
        float: none !important;
    }

    .plc-sideimg {
        float: none !important;
        margin: 0px auto;
    }

    .plc-background span {
        width: 100%;
        font-size: 13px;
        text-align: center !important;
        padding-top: 14px;
        padding: 11% 4%;
    }

    .plc-background .marketing-right {
        padding: 16px 16px;
        height: 162px;
        min-height: 162px;
    }

    #java .marketing-icon-text {
        padding: 6% 3%;
        font-size: 14px;
    }

    .android-images {
        width: 114px;
        height: 114px;
    }

    .vidos {
        margin-top: 0px !important;
    }

    .study-text {
        padding: 11% 0px !important;
        width: 100% !important;
        padding-left: 9px !important;
    }

    .plc-background .right-block-marketing {
        padding-top: 10%;
    }

    .white-arrow-right {
        display: none !important;
    }

    #python .marketing-right img {
        height: 46px;
        min-height: 46px;
    }

    #python .marketing-right {
        height: 165px;
    }

    #python span {
        padding: 0px 22%;
    }

    .python-white-arrow-right {
        display: none !important;
    }

    #java .marketing-right {
        width: 353px;
    }

    .terms-left {
        height: 95px;
    }

    .terms-left2 {
        height: 95px;
    }

    #java .imagss {
        margin: 20px auto;
        padding: 0px 0px;
        height: 58px;
        min-height: 58px;
    }

    .j-answer {
        padding: 7% 3% !important;
    }

    #java .right-block-marketing {
        padding-top: 11px;
    }

    #android .marketing-right img {
        height: 69px;
        min-height: 69px;
    }

    #android .marketing-icon-text {
        text-align: center;
        padding: 0px 21px;
        padding-top: 0px;
    }

    #android .marketing-right {
        height: 191px;
        min-height: 191px;
        padding: 21px 0px;
    }

    #android .download-text {
        font-size: 21px;
        margin: 14px auto;
    }

    #android .subject-panel-text {
        line-height: 22px;
    }

    #android h3 {
        padding-bottom: 0%;
        padding-top: 7%;
    }

    .halfmenu {
        left: 1px !important;
    }

    .wsmenu>.wsmenu-list>li>.navtext {
        padding: 31px 15px 0px;
    }

    .stepprocess1 .wsmenu>.wsmenu-list>li>.navtext {
        padding-top: 16px;
    }

    .halfmenu2 {
        left: 2px !important;
        width: 100% !important;
    }

    .wsmenu>.wsmenu-list>li .wstliststy06 li.wstheading {
        padding-top: 10px;
    }

    .videos ul {
        padding-top: 0px !important;
    }

    .menu-head {
        margin-left: 0px !important;
    }

    .wsmenu>.wsmenu-list>li .wstliststy06 {
        padding: 4px 0px 21px 6px;
    }

    .wsmenu>.wsmenu-list>li>.wsmenu-click>i {
        margin-top: 21px;
    }

    .wsshopmyaccount {
        display: none !important;
    }

    /* study-material css*/
    .left-side-panel h2 {
        font-size: 15px;
        padding: 16px;
    }

    .left-side-panel li a {
        font-size: 13px;
    }

    .mid-section h1 {
        font-size: 19px;
        padding: 12% 4%;
        padding-bottom: 0px;
    }

    .digital-intro h5 {
        font-size: 13px;
    }

    .digital-intro button {
        font-size: 12px;
    }

    .digital-intro {
        margin-top: 7%;
    }

    .digital-intro p {
        font-size: 13px;
    }

    .left-side-panel li {
        padding-left: 2px;
        padding-right: 0px;
    }

    #tutorials .tab-slider--nav {
        width: 100%;
    }

    .vedio-1 iframe {
        height: 100%;
        width: 100%;
    }

    .related-vedios h5 {
        font-size: 14px;
    }

    .related-vedios p {
        font-size: 12px !important;
        padding: 2px 7px;
        margin-bottom: 0px;
    }

    #video-des p {
        font-size: 14px;
        text-align: justify;
    }

    #view-vedio iframe {
        height: 25px;
        min-height: 250px;
    }

    .quotes-des {
        font-size: 13px !important;
    }

    .related-vedios img {
        height: 112px;
        min-height: 112px;
    }

    #key-form #seacr_panel .vedio-search {
        height: 54px;
    }

    /* ques-answer page css*/
    #ques-ans .input-group-btn i {
        font-size: 20px;
    }

    #ques-ans .input-group-btn button {
        padding: 9px 23px;
    }

    #ques-ans .vedio-search {
        height: 42px;
    }

    #ques-ans #seacr_panel .select-dropdown #withSelect {
        padding: 0px 42px;
        height: 44px;
    }

    .asks-ans .like-dislike {
        padding-top: 132%;
    }

    .answer-type p {
        font-size: 13px;
        width: 100%;
        text-align: justify;
    }

    .answer-type .like-dislike {
        padding-top: 17% !important;
    }

    .like-dislike i {
        padding: 0px 4px;
    }

    .question-type h3 {
        font-size: 17px;
        width: 88%;
        padding: 4px 8px;
    }

    .question-type u {
        font-size: 17px;
    }

    .question-type li a {
        font-size: 12px;
    }

    .question-type li {
        margin: 4px 3px;
        padding: 3px 9px;
    }

    .ques-side img {
        margin: 0px 0px;
    }

    .ques-side span {
        font-size: 13px;
        padding: 0px 5px;
    }

    #ques-ans h1 {
        font-size: 22px;
    }

    .ques-sidebar li a {
        font-size: 12px;
    }

    .ques-sidebar h4 {
        padding: 17px 18px;
        font-size: 16px;
    }

    .like-dislike {
        font-size: 12px;
        padding-top: 13%;
    }

    #ques-ans .select-dropdown {
        width: 45%;
        margin-bottom: 20px;
    }

    #ques-ans .select-dropdown:first-child {
        margin: 0px 12px;
    }

    .header-mains .owl-carousel .owl-item img {
        width: 100%;
    }

    .ask-ques h5 {
        font-size: 14px;
    }

    .post-ques button {
        padding: 9px 12px;
        font-size: 15px;
    }

    .videos {
        background: #ffffff;
    }

    .wsmenu>.wsmenu-list>li .wstheading {
        padding: 1px 0px 6px 14px;
        margin-top: 5px;
    }

    .wsmenu>.wsmenu-list>li>ul.sub-menu {
        border: none;
    }

    .interview-li h4 i {
        display: block;
        margin-right: 7px;
        float: right;
    }

    .wsmenu>.wsmenu-list>li>.wsmegamenu {
        opacity: 1 !important;
        visibility: visible !important;
        transform: none !important;
        -o-transform: none !important;
        -moz-transform: none !important;
        -webkit-transform: none !important;
    }

    .wsmenu>.wsmenu-list>li:hover>.wsmegamenu {
        opacity: 1 !important;
        visibility: visible !important;
        transform: none !important;
        -o-transform: none !important;
        -moz-transform: none !important;
        -webkit-transform: none !important;
    }

    .wsmenu>.wsmenu-list>li>.sub-menu2 {
        opacity: 1 !important;
        visibility: visible !important;
        transform: none !important;
        -o-transform: none !important;
        -moz-transform: none !important;
        -webkit-transform: none !important;
    }

    .wsmenu>.wsmenu-list>li:hover>.sub-menu2 {
        opacity: 1 !important;
        visibility: visible !important;
        transform: none !important;
        -o-transform: none !important;
        -moz-transform: none !important;
        -webkit-transform: none !important;
    }

    /*pactice quiz page css*/
    #practice-quiz h3 {
        font-size: 22px;
        padding-top: 15px;
    }

    #practice-quiz p {
        font-size: 13px;
    }

    #practice-quiz .digital-intro h5 {
        font-size: 13px;
    }

    #practice-quiz {
        padding: 5% 0px;
        padding-bottom: 5%;
    }

    .radio i {
        font-size: 20px;
    }

    .radio-label {
        font-size: 14px;
        width: 279px;
    }

    .radio input[type="radio"]+.radio-label:before {
        width: 21px;
        height: 21px;
    }

    .header .owl-theme .owl-nav.disabled+.owl-dots {
        position: relative;
        bottom: 48px;
        margin-top: 0px;
    }

    #bredcum h4 {
        margin: 0px;
    }

    #bredcum span {
        padding-top: 7px;
    }

    /*   key trends page css*/
    #key-form .header-submit {
        font-size: 13px;
        padding: 9px 18px;
    }

    .all-button li a {
        padding: 9px 14px;
        font-size: 11px;
    }

    #key-form {
        padding: 23px 18px;
        padding-bottom: 3px;
        margin-bottom: 6%;
    }

    .all-button ul {
        padding: 12px 0px;
    }

    .all-button li {
        padding: 9px 3px;
    }

    .panel-in {
        width: 66px;
        height: 66px;
        font-size: 39px;
    }

    .answer-panel h5 {
        font-size: 16px;
    }

    .answer-panel p {
        font-size: 14px;
        text-align: justify;
        margin-bottom: 0px;
    }

    .a-panel {
        padding: 20px 15px;
        width: 36%;
    }

    .answer-dis {
        padding: 14px 15px;
        margin-left: 0px;
    }

    .answer-panel {
        margin-bottom: 5%;
        background-size: 31% 103%;
    }

    /*login popup css*/
    .login-modal {
        padding-right: 0px !important;
    }

    .login-modal .modal-dialog {
        margin-top: 12%;
    }

    #login-popup h1 {
        font-size: 33px;
    }

    #login-popup .modal-body {
        padding-left: 23px !important;
        padding: 15px;
        padding-right: 22px;
        padding-bottom: 14px;
    }

    #login-popup h5 {
        font-size: 16px;
    }

    #login-popup .form-fields {
        font-size: 12px;
        padding: 8px 11px;
    }

    .remember {
        font-size: 12px;
        padding-left: 32px;
    }

    #login-popup h3 {
        font-size: 12px;
        padding-top: 5px
    }

    .login-modal u {
        font-size: 13px;
        padding-top: 6%;
    }

    .form-fields::placeholder {
        font-size: 13px;
    }

    #login-popup .help-block {
        font-size: 11px;
    }

    #login-popup .all-button {
        font-size: 14px;
        padding: 10px 31px;
    }

    #login-popup span {
        padding: 14px 0px;
        padding-top: 1px;
        font-size: 14px;
    }

    #target {
        display: block;
    }

    /*all competition exam page css*/
    .all-exams h3 {
        font-size: 18px;
    }

    .all-exams p {
        font-size: 13px;
        line-height: 25px;
        padding-top: 7px;
    }

    .adds {
        display: none !important;
    }

    #key-trends .adds {
        display: block !important;
    }

    #vedios-tutorial .adds {
        display: block !important;
    }

    /*grammar knowledge page css*/
    .grammar-test p {
        line-height: 3px !important;
    }

    .all-test h4 {
        font-size: 19px;
        padding-top: 6%;
    }

    .all-test .all-exams {
        padding-top: 23px;
        padding-bottom: 19px;
    }

    .grammar-test {
        margin-top: 15%;
    }

    .all-test .all-exams h5 {
        font-size: 14px;
    }

    .actives h5 {
        padding-top: 8px;
    }

    .vedio-1 img {
        height: 137px;
        min-height: 137px;
    }

    /*   finding spotting error page css*/
    .all-quesshow h5 {
        width: 89%;
        font-size: 14px;
    }

    .all-quesshow li {
        font-size: 13px;
        width: 100%;
        padding: 5px 0px;
    }

    .all-quesshow b {
        width: 86%;
    }

    .show-answer h4 {
        font-size: 12px;
    }

    .show-answer button {
        font-size: 13px;
    }

    .all-quesshow {
        margin-bottom: 3%;
    }

    #forgot-password h1 {
        font-size: 31px;
    }

    .ask-modal .modal-dialog {
        max-width: 708px;
        margin-top: 20%;
    }

    .field-icon {
        margin-top: -27px;
    }

    #ssc-pre .nav-tabs {
        display: inline-flex;
    }

    #ssc-pre h3 {
        width: 94%;
    }

    .tag-erase {
        width: 64%;
    }

    .view-quiz {
        margin-top: 4%;
    }

    #ssc-pre {
        padding-bottom: 4%;
    }

    .legends h5 {
        margin-bottom: 4%;
    }

    .legends button {
        margin-bottom: 1%;
    }

    .related-vedios iframe {
        height: 145px !important;
        min-height: 145px;
    }

    #view-vedio .adds {
        display: block !important;
    }

    #related-videos .owl-prev {
        top: 35%;
    }

    #related-videos .owl-next {
        top: 35%;
    }

    #main-slider .owl-prev {
        display: none;
    }

    #main-slider .owl-next {
        display: none;
    }

    .question-in .radio-label {
        font-size: 12px;
        padding: 3px 0px;
    }

    .question-in input[type="radio"]+.radio-label:before {
        padding: 1px 0px;
    }
}

@media (min-width: 993px) and (max-width: 1024px) {
    .menu-other {
        width: 72% !important;
        text-align: left;
    }

    .wsmenu>.wsmenu-list>li>.navtext>span {
        font-size: 12px;
    }

    .menu-other span i {
        display: none;
    }

    .wsmenu>.wsmenu-list>li>.navtext {
        padding: 14px 1px 19px;
    }

    .wsshopmyaccount img {
        display: none;
    }

    .wsmenu>.wsmenu-list>li .wstheading {
        font-size: 13px;
    }

    .interview-li a {
        font-size: 12px !important;
    }

    .download-app-icons img {
        width: 35%;
    }

    .stepprocess1 .wsmenu>.wsmenu-list>li>.navtext {
        padding-top: 16px !important;
    }

    .stepprocess1 .wsmenu>.wsmenu-list>li.wsshopmyaccount>a {
        padding: 0px 4px !important;
    }

    .wsmenu>.wsmenu-list>li .wstliststy06 {
        padding: 17px 0px 5px 0px;
        padding-left: 8px;
    }

    .wsmenu>.wsmenu-list>li>ul.sub-menu2 {
        top: 44px;
    }

    .wsmenu>.wsmenu-list>li .wstliststy06 li a {
        font-size: 14px
    }

    #main-slider .owl-prev {
        bottom: 97px;
    }

    #main-slider .owl-next {
        bottom: 97px;
    }

    .wsmenu>.wsmenu-list>li.wsshopmyaccount {
        padding-top: 18px !important;
    }

    .scroollogo {
        width: 75%;
        margin: 10px 3px;
    }

    .wsmenu>.wsmenu-list>li>.wsmegamenu {
        top: 52px;
    }

    .wsmenu>.wsmenu-list>li.wsshopmyaccount>a {
        line-height: 25px;
        padding: 0px 7px !important;
        font-size: 12px;
    }

    #android .marketing-icon-text {
        padding: 0px 27px;
    }

    .plc-background .right-block-marketing {
        padding-top: 10%;
    }

    .plc-background span {
        padding: 30px 10px;
        width: 50%;
        font-size: 18px;
    }

    .header {
        height: 379px;
        min-height: 379px;
    }

    #python span {
        padding: 7px 17%;
    }

    .headerfull {
        padding: 0px 0px;
    }

    .study-text {
        padding: 14% 15px !important;
        width: 52% !important;
    }

    .answer {
        padding-top: 7px !important;
    }

    .stepprocess1_scroll .smllogo {
        width: 205px;
    }

    .stepprocess1_scroll .menu-other {
        width: 79% !important;
    }

    .stepprocess1_scroll .menu-padding li a {
        padding: 19px 3 px 14px !important;
    }

    .stepprocess1_scroll .scroollogo2 {
        width: 92%;
    }

    .stepprocess1_scroll {
        height: 53px;
    }

    .stepprocess1_scroll .wsmenu>.wsmenu-list>li.wsshopmyaccount {
        padding-left: 5px;
    }

    .stepprocess1_scroll .wsmenu>.wsmenu-list>li.wsshopmyaccount>a {
        line-height: 24px;
        padding: 0px 4px !important;
    }

    .wsmenu>.wsmenu-list>li .wstliststy06 li a {
        font-size: 12px;
    }

    .hero-slider .owl-nav .owl-prev,
    .hero-slider .owl-nav .owl-next {
        font-size: 25px;
    }

    .hero-slider .owl-nav {
        right: -2%;
    }

    .slide-num-holder {
        font-size: 28px;
        bottom: 45%;
    }

    .digital-intro {
        margin-top: 5%;
    }

    #tutorials .tab-slider--nav {
        width: 100%;
    }

    .related-vedios h5 {
        font-size: 18px;
    }

    .related-vedios p {
        font-size: 13px !important;
    }

    /* ques-answer page css*/
    #ques-ans .input-group-btn i {
        font-size: 20px;
    }

    #ques-ans .input-group-btn button {
        padding: 10px 23px;
    }

    #ques-ans .vedio-search {
        height: 44px;
    }

    #ques-ans #seacr_panel .select-dropdown #withSelect {
        padding: 0px 16px;
        height: 44px;
        font-size: 15px;
    }

    .ask-ques h5 {
        font-size: 16px;
        width: 92%;
    }

    .question-type h3 {
        font-size: 16px;
        padding: 2px 8px;
        width: 88%;
    }

    .question-type u {
        font-size: 18px;

    }

    .question-type li a {
        font-size: 12px;
    }

    .ques-side u {
        font-size: 14px;
    }

    .like-dislike {
        padding-top: 70%;
        font-size: 13px;
    }

    .question-type li {
        margin: 3px 0px;
    }

    .ques-side img {
        margin: 0px 0px;
    }

    .ques-side span {
        font-size: 13px;
        padding: 0px 2px;
    }

    #ques-ans h1 {
        font-size: 22px;
    }

    .wsmenu>.wsmenu-list>li>.wsmegamenu.halfmenu {
        top: 82%;
    }

    .halfmenu2 {
        width: 87% !important;
    }

    .header-mains .owl-carousel .owl-item img {
        width: 100%;
    }

    .a-panel {
        padding: 20px 15px;
        width: 30%;
    }

    .answer-dis {
        padding: 14px 15px;
        margin-left: 0px;
    }

    .answer-panel {
        margin-bottom: 5%;
        background-size: 26% 103%;
    }

    .answer-panel p {
        margin-bottom: 0px;
        text-align: justify;
    }

    .answer-type p {
        font-size: 14px;
        text-align: justify;
        width: 100%;
    }

    .answer-type .like-dislike {
        float: right;
        padding-top: 55% !important;
    }

    .asks-ans .like-dislike {
        padding-top: 73%;
    }

    .ques-sidebar li a {
        font-size: 13px;
    }

    .ques-side2 span {
        padding: 9px 6px;
    }

    .vedio-1 img {
        height: 189px;
        min-height: 189px;
    }

    #key-trends #seacr_panel .vedio-search {
        height: 54px;
    }

    /*login popup css*/
    .login-modal {
        padding-right: 0px !important;
    }

    .login-modal .modal-dialog {
        margin-top: 11%;
    }

    #login-popup h1 {
        font-size: 33px;
    }

    #login-popup .modal-body {
        padding-left: 23px !important;
        padding: 15px;
        padding-right: 22px;
        padding-bottom: 14px;
    }

    #login-popup h5 {
        font-size: 16px;
    }

    #login-popup .form-fields {
        font-size: 12px;
        padding: 8px 11px;
    }

    .remember {
        font-size: 12px;
        padding-left: 32px;
    }

    #login-popup h3 {
        font-size: 12px;
        padding-top: 5px
    }

    .login-modal u {
        font-size: 13px;
        padding-top: 6%;
    }

    .form-fields::placeholder {
        font-size: 13px;
    }

    #login-popup .help-block {
        font-size: 11px;
    }

    #login-popup .all-button {
        font-size: 14px;
        padding: 10px 31px;
    }

    #login-popup span {
        padding: 14px 0px;
        padding-top: 1px;
        font-size: 14px;
    }

    .grammar-test {
        margin-top: 13%;
    }

    /*   finding spotting error page css*/
    .all-quesshow h5 {
        width: 93%;
        font-size: 16px;
    }

    .all-quesshow li {
        font-size: 16px;
        padding: 5px 0px;
    }

    .all-quesshow b {
        width: 86%;
    }

    .show-answer h4 {
        font-size: 14px;
    }

    .show-answer button {
        font-size: 13px;
    }

    .all-quesshow {
        margin-bottom: 3%;
    }

    #forgot-password h1 {
        font-size: 31px;
    }

    .field-icon {
        margin-top: -27px;
    }

    .tag-erase {
        width: 74%;
    }

    .view-quiz {
        margin-top: 4%;
    }

    #ssc-pre {
        padding-bottom: 4%;
    }

    .legends h5 {
        margin-bottom: 2%;
    }

    .legends button {
        margin-bottom: 1%;
    }

    .question-in .radio-label {
        font-size: 12px;
        padding: 1px 0px;
    }

    .question-in input[type="radio"]+.radio-label:before {
        padding: 5px 0px;
    }
}

@media (min-width: 1025px) and (max-width: 1200px) {

    .menu-other {
        /* width: 85% !important;*/
        width: 72% !important;
    }

    .menu-other span i {
        display: none;
    }

    .header {
        height: 395px;
        min-height: 395px;
    }

    .headerfull {
        padding: 0px 0px;
    }

    .wsmenu>.wsmenu-list>li>.navtext>span {
        font-size: 12px;
    }

    .wsmenu>.wsmenu-list>li>.navtext {
        padding: 14px 2px 19px;
    }

    .wsshopmyaccount img {
        display: none;
    }

    .wsmenu>.wsmenu-list>li.wsshopmyaccount>a {
        padding: 0px 3px !important;
        font-size: 13px;
        line-height: 39px;
    }

    #android .marketing-icon-text {
        padding: 0px 27px;
    }

    .plc-background .right-block-marketing {
        padding-top: 10%;
    }

    .plc-background span {
        padding: 29px 8px;
        width: 48%;
        font-size: 18px;
    }

    #main-slider .owl-prev {
        bottom: 92px;
    }

    #main-slider .owl-next {
        bottom: 92px;
    }

    .study-text {
        padding: 12% 11px !important;
        width: 49% !important;
    }

    .answer {
        padding-top: 17px !important;
    }

    .stepprocess1_scroll .smllogo {
        width: 205px;
        height: 53px;
    }

    .stepprocess1_scroll .menu-other {
        width: 78% !important;
    }

    #python span {
        padding: 7px 16%;
        margin-top: 27px;
    }

    .wsmenu>.wsmenu-list>li>.wsmegamenu.halfmenu {
        top: 53px;
    }

    .download-app-icons img {
        width: 40%;
    }

    .stepprocess1 .wsmenu>.wsmenu-list>li.wsshopmyaccount>a {
        padding: 0px 4px !important;
        padding: 0px 4px !important;
    }

    .wsmenu>.wsmenu-list>li .wstliststy06 li a {
        font-size: 12px;
    }

    .halfmenu2 {
        width: 82% !important;
    }

    .stepprocess1_scroll .menu-padding li a {
        padding: 13px 1px 14px !important;
    }

    .stepprocess1_scroll .scroollogo2 {
        width: 92%;
    }

    .stepprocess1_scroll {
        height: 53px;
    }

    .stepprocess1_scroll .wsmenu>.wsmenu-list>li.wsshopmyaccount {
        padding-left: 5px;
        padding-top: 12px !important;
    }

    .stepprocess1_scroll .wsmenu>.wsmenu-list>li.wsshopmyaccount>a {
        line-height: 29px;
        padding: 0px 3px !important;
    }

    .hero-slider .owl-nav .owl-prev,
    .hero-slider .owl-nav .owl-next {
        font-size: 25px;
    }

    .hero-slider .owl-nav {
        right: -2%;
    }

    .slide-num-holder {
        font-size: 28px;
        bottom: 45%;
        right: 20px;
    }

    #marketing span {
        padding-top: 4% !important;
    }

    .digital-intro {
        margin-top: 5%;
    }

    #tutorials .tab-slider--nav {
        width: 100%;
    }

    .related-vedios h5 {
        font-size: 18px;
    }

    .related-vedios p {
        font-size: 13px !important;
    }

    /* ques-answer page css*/
    #ques-ans .input-group-btn i {
        font-size: 20px;
    }

    #ques-ans .input-group-btn button {
        padding: 9px 23px;
    }

    #ques-ans .vedio-search {
        height: 43px;
    }

    #ques-ans #seacr_panel .select-dropdown #withSelect {
        padding: 0px 15px;
        font-size: 14px;
        height: 43px;
    }

    .question-type h3 {
        font-size: 15px;
        width: 88%;
        padding: 2px 8px;
    }

    .question-type u {
        font-size: 15px;
    }

    .question-type li a {
        font-size: 13px;
    }

    .question-type li {
        margin: 4px 3px;
        padding: 2px 9px;
    }

    .like-dislike {
        font-size: 13px;
        padding-top: 12%;
    }

    .asks-ans .like-dislike {
        padding-top: 69%;
    }

    .ques-side img {
        margin: 0px 0px;
    }

    .ques-side span {
        font-size: 13px;
        padding: 8px 10px;
    }

    #ques-ans h1 {
        font-size: 22px;
    }

    .answer-type .like-dislike {
        float: right;
    }

    .answer-type .like-dislike {
        padding-top: 13% !important;
    }

    .wsmenu>.wsmenu-list>li.wsshopmyaccount {
        padding-top: 20px;
    }

    .header-mains .owl-carousel .owl-item img {
        width: 100%;
    }

    .a-panel {
        padding: 20px 15px;
        width: 30%;
    }

    .answer-dis {
        padding: 14px 15px;
        margin-left: 0px;
    }

    .answer-panel {
        margin-bottom: 5%;
        background-size: 26% 103%;
    }

    .ask-ques h5 {
        font-size: 16px;
    }

    .answer-panel p {
        margin-bottom: 0px;
    }

    .answer-type p {
        font-size: 14px;
        width: 100%;
        text-align: justify;
    }

    .vedio-1 img {
        height: 189px;
        min-height: 189px;
    }

    #key-trends #seacr_panel .vedio-search {
        height: 54px;
    }

    /*   ask answer popup*/
    /*login popup css*/
    .login-modal {
        padding-right: 0px !important;
    }

    .login-modal .modal-dialog {
        margin-top: 11%;
    }

    #login-popup h1 {
        font-size: 33px;
    }

    #login-popup .modal-body {
        padding-left: 23px !important;
        padding: 15px;
        padding-right: 22px;
        padding-bottom: 14px;
    }

    #login-popup h5 {
        font-size: 16px;
    }

    #login-popup .form-fields {
        font-size: 12px;
        padding: 8px 11px;
    }

    .remember {
        font-size: 12px;
        padding-left: 32px;
    }

    #login-popup h3 {
        font-size: 12px;
        padding-top: 5px
    }

    .login-modal u {
        font-size: 13px;
        padding-top: 6%;
    }

    .form-fields::placeholder {
        font-size: 13px;
    }

    #login-popup .help-block {
        font-size: 11px;
    }

    #login-popup .all-button {
        font-size: 14px;
        padding: 10px 31px;
    }

    #login-popup span {
        padding: 14px 0px;
        padding-top: 1px;
        font-size: 14px;
    }

    /*   finding spotting error page css*/
    .all-quesshow h5 {
        width: 93%;
        font-size: 16px;
    }

    .all-quesshow li {
        font-size: 16px;
        padding: 5px 0px;
    }

    .all-quesshow b {
        width: 86%;
    }

    .show-answer h4 {
        font-size: 15px;
    }

    .show-answer button {
        font-size: 14px;
    }

    .all-quesshow {
        margin-bottom: 3%;
    }

    #forgot-password h1 {
        font-size: 31px;
    }

    .field-icon {
        margin-top: -27px;
    }

    .tag-erase {
        width: 74%;
    }

    .question-in .radio-label {
        font-size: 12px;
        padding: 1px 0px;
    }

    .question-in input[type="radio"]+.radio-label:before {
        padding: 5px 0px;
    }
}

@media (min-width: 1201px) and (max-width: 1280px) {
    .wsmenu>.wsmenu-list>li>.navtext {
        padding: 31px 1px 19px;
    }

    .smllogo {
        width: 23% !important;
        height: 74px;
    }

    .wsmenu>.wsmenu-list>li>.navtext>span {
        font-size: 13px;
    }

    .wsshopmyaccount img {
        padding: 0px 5px;
    }

    .wsmenu>.wsmenu-list>li.wsshopmyaccount>a {
        line-height: 19px;
    }

    .header-mains .owl-carousel .owl-item img {
        width: 100%;
    }

    .login-modal .modal-body {
        padding: 20px;
    }

    .login-modal u {
        padding-top: 0px;
    }

    .study-text {
        padding: 14% 0px !important;
        width: 64% !important;
        padding-left: 17px !important;
    }

    #android .marketing-icon-text {
        padding: 0px 61px;
    }
}

@media (min-width: 1281px) {
    .wsmenu>.wsmenu-list>li>.navtext {
        padding: 31px 2px 19px;
    }

    .login-modal u {
        padding-top: 0px;
    }
}

.modal {
    position: absolute;
}

#ask-answer {
    position: fixed !important;
}

#ask-your-question {
    position: fixed !important;
}

.study-text {
    padding: 11% 0px;
    width: 91%;
    padding-left: 17px;

}

@media (min-width: 1272px) and (max-width: 1360px) {
    .study-text {
        width: 67% !important;
    }

    #android .marketing-icon-text {
        padding: 0px 61px;
    }

    .answer-type .like-dislike {
        padding-top: 11% !important;
    }
}