.register {
    color: #ffffff !important;
    background: #00aced;
    border-radius: 4px;
}

html {
    height: 100%;
    width: 100%;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: "Lato";
    height: 100%;
    width: 100%;
}

.modal::-webkit-scrollbar {
    width: 0px !important;
}

.modal::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.modal::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}

.modal {
    height: 100%;
    position: fixed !important;
    overflow-y: scroll;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: "Lato";
}

p {
    font-family: "Lato";
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

span {
    font-family: "Roboto";
}

button {
    font-family: "Roboto";
    cursor: pointer;
}

.btn:focus {
    box-shadow: none;
}

.header {
    padding-bottom: 10px;
    width: 100%;
    background: url('../images/banner.jpg') center center no-repeat;
    background-size: cover;
    padding-top: 3%;
    height: 567px;
    min-height: 567px;
}

.stepprocess1_scroll {
    -webkit-animation-name: slideDown;
    position: fixed !important;
    width: 100% !important;
    z-index: 999;
    animation-duration: 2s;
    box-shadow: 0px 0px 5px #ccc;
    -webkit-animation-duration: 2s;
    animation-timing-function: ease;
    -webkit-animation-timing-function: ease;
    visibility: visible !important;
}

.stepprocess2_scroll {
    -webkit-animation-name: slideDown;
    position: fixed !important;
    width: 100% !important;
    z-index: 999;
    animation-duration: 2s;
    box-shadow: 0px 0px 5px #ccc;
    -webkit-animation-duration: 2s;
    animation-timing-function: ease;
    -webkit-animation-timing-function: ease;
    visibility: visible !important;
}

.menu-other span i {
    font-size: 10px;
}

@keyframes slideDown {
    0% {
        transform: translateY(-100%);
    }

    50% {
        transform: translateY(8%);
    }

    65% {
        transform: translateY(-4%);
    }

    80% {
        transform: translateY(4%);
    }

    95% {
        transform: translateY(-2%);
    }

    100% {
        transform: translateY(0%);
    }
}

@-webkit-keyframes slideDown {
    0% {
        -webkit-transform: translateY(-100%);
    }

    50% {
        -webkit-transform: translateY(8%);
    }

    65% {
        -webkit-transform: translateY(-4%);
    }

    80% {
        -webkit-transform: translateY(4%);
    }

    95% {
        -webkit-transform: translateY(-2%);
    }

    100% {
        -webkit-transform: translateY(0%);
    }
}

#main-slider .owl-theme .owl-nav {
    position: relative;
    top: 10px;
}

.owl-theme .owl-nav [class*=owl-]:hover {
    background: none;
}

#main-slider .owl-prev {
    position: relative;
    bottom: 108px;
    font-size: 38px;
    color: #ffffff;
    left: 3px;
}

#main-slider .owl-next {
    position: relative;
    bottom: 108px;
    font-size: 38px;
    color: #ffffff;
}

button:focus {
    outline: none;
}


/*dropdown effects*/

.wsmenu>.wsmenu-list>li>ul.sub-menu {
    opacity: 0;
    visibility: hidden;
    -o-transform-origin: 0% 0%;
    -ms-transform-origin: 0% 0%;
    -moz-transform-origin: 0% 0%;
    -webkit-transform-origin: 0% 0%;
    -o-transition: -o-transform 0.3s, opacity 0.3s;
    -ms-transition: -ms-transform 0.3s, opacity 0.3s;
    -moz-transition: -moz-transform 0.3s, opacity 0.3s;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
    transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    transform: rotateX(-75deg);
    -o-transform: rotateX(-75deg);
    -moz-transform: rotateX(-75deg);
    -webkit-transform: rotateX(-75deg);
}

.wsmenu>.wsmenu-list>li:hover>ul.sub-menu {
    opacity: 1;
    visibility: visible;
    transform: rotateX(0deg);
    -o-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    -webkit-transform: rotateX(0deg);
}

.wsmenu>.wsmenu-list>li>.wsmegamenu {
    opacity: 0;
    visibility: hidden;
    -o-transform-origin: 0% 0%;
    -ms-transform-origin: 0% 0%;
    -moz-transform-origin: 0% 0%;
    -webkit-transform-origin: 0% 0%;
    -o-transition: -o-transform 0.3s, opacity 0.3s;
    -ms-transition: -ms-transform 0.3s, opacity 0.3s;
    -moz-transition: -moz-transform 0.3s, opacity 0.3s;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
    transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    transform: rotateX(-75deg);
    -o-transform: rotateX(-75deg);
    -moz-transform: rotateX(-75deg);
    -webkit-transform: rotateX(-75deg);
}

.wsmenu>.wsmenu-list>li:hover>.wsmegamenu {
    opacity: 1;
    visibility: visible;
    transform: rotateX(0deg);
    -o-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    -webkit-transform: rotateX(0deg);
}

.headerfull .container {
    max-width: 1614px !important;
}

.slider-main {
    /*padding-top: 10px;*/
}

#navbarNav>ul {
    margin: auto;
}


/*.stepprocess1 .wsmenu>.wsmenu-list>li.wsshopmyaccount>a {
          line-height: 43px !important;
          padding: 9px 0px !important;
      }
      .wsmenu>.wsmenu-list>li.wsshopmyaccount>a{
          line-height: 43px !important;
      }*/


/*---------------------------------------*/


/*  Hero Section CSS
      /*----------------------------------------*/

.slide-img>img {
    /*  width: 345px !important; */
    /*margin-top: 70px;*/
    float: right;
}

.padding-remove {
    padding: 0px 0px;
}


/*.slide-img{
          margin-top: 12%;
      }*/

.header p {
    font-size: 50px;
    color: #fff;
    margin-bottom: 0px;
    line-height: 57px;
    font-weight: 300;
}

.header h1 {
    font-size: 80px;
    color: #fff;
    font-weight: 500;
    white-space: nowrap;
    /*   width: 30em;*/
}

.headings-main {
    padding-top: 12%;
}

.pyhon-row {
    padding-right: 10%;
}


/* Slider close*/

.subject-panel {
    background: #fff;
    margin: 4% 0px;
}

.digital-marketing-right {
    background: #f06538;
    padding: 20px;
    padding-bottom: 10px;
    text-align: center;
    border-radius: 5px;
}

.panel-circle-icon {
    width: 181px;
    height: 171px;
    border-radius: 100%;
    background: #fff;
    margin: auto;
    background-color: rgb(255, 255, 255);
    border: 10px solid #3c90ef;
}

.panel-circle-icon>img {
    margin: 10px auto;
}

.course-heading {
    color: #fff;
    font-size: 25px;
    padding-top: 6%;
    font-weight: 700;
    font-family: "Lato";
    line-height: 25px;
}

.subject-panel-text {
    font-size: 17px;
    color: #f8f8f8;
    line-height: 28px;
    font-weight: 400;
}

.btn-digitalgyan {
    background: #fff;
    padding: 12px 42px;
    border-radius: 3px;
    margin-top: 12px;
    margin-bottom: 27px;
    color: #384257;
    font-weight: 400;
    font-weight: 700;
    font-family: "Lato";
    font-size: 14px;
}

.btn-digitalgyan:hover {
    transition: all 0.4s ease-in-out;
    background: #000;
    color: #fff !important;
}

.download-text {
    font-size: 25px;
    color: #384257;
    font-weight: 400;
    font-family: 'Lato';
    text-align: center;
    margin: 15px 0px;
    margin: 20px auto;
}

.download-app-icons {
    margin: auto;
    text-align: center;
}

.download-app-icons img:first-child {
    margin-right: 5px;
}

.download-app-icons img:hover {
    transform: scale(1.1);
    transition: .5s ease-in-out;
    transition-timing-function: ease;
}

.arrow-right {
    position: absolute;
    width: 46px;
    height: 37px;
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
    border-left: 34px solid #f06538;
    right: -15px;
    top: 4%;
}

.right-block-marketing {
    /*    margin-left: 20px;*/
    padding-top: 1%;
    padding-left: 6%;
}

.marketing-column-2 {
    margin-top: 110px;
}

.marketing-right {
    background: #fff;
    /*padding: 20px 0px;*/
    padding-left: 0px;
    padding-right: 0px;
    border-radius: 10px;
    border: #dddddd solid 1px;
    margin-bottom: 20px;
    transition: 0.5s;
    padding: 28px 0px;
}

.marketing-right:hover {
    box-shadow: 0px 2px 16px 0px rgba(0, 0, 0, 0.05);
    background-color: rgb(255, 255, 255);
    border: transparent solid 1px !important;
    transform: translateY(-5px);
}

#python .marketing-right:hover {
    border: 0px !important;
}

.questions {
    padding: 26px 0px;
    height: 199px;
    min-height: 199px;
}

.marketing-icon-text {
    font-size: 15px;
    font-family: 'Lato';
    text-align: center;
    display: block;
    font-weight: 700;
    color: #384257;
    line-height: 20px;
    padding-top: 15px;
    margin-top: 25px;
}

.marketing-right img {
    margin: 0px auto;
    display: block;
}

.ques-text span {
    padding-bottom: 19px !important;
}

.mt-110 {
    margin-top: 67px;
}

#marketing .mt-110 {
    margin-top: 15%;
}

.questions span {
    padding: 0px 18px;
}

#marketing span {
    padding-top: 5% !important;
}

#marketing .marketing-right {
    padding: 26px 11px;
    margin-bottom: 13%;
}


/* digital marketing panel close*/

.sw-testing-right {
    background: #2683ed;
    padding: 20px;
    padding-bottom: 10px;
    text-align: center;
    border-radius: 5px;
}

.green-arrow-left {
    position: absolute;
    width: 44px;
    height: 37px;
    border-top: 25px solid transparent;
    border-bottom: 26px solid transparent;
    border-right: 34px solid #2683ed;
    left: -15px;
    top: 4%;
}


/* plc start*/

.plc-background {
    background: url('../images/plc-back.jpg');
    background-size: cover;
    padding: 4% 0px;
    margin-bottom: 0px;
}

.plc {
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    border: 10px solid rgb(246, 237, 255);
}

.plc-background .right-block-marketing {
    padding-top: 5%;
}

.plc-background button {
    background: #2c2727;
    color: #ffffff;
    border: 1px solid transparent;
}

.plc-background button:hover {
    background: #ffffff;
    color: #2c2727;
    border: 1px solid #2c2727;
}

.plc-background h2 {
    color: #ffffff;
}

.plc-right {
    background: #fff;
    padding: 20px;
    padding-bottom: 10px;
    text-align: center;
    border-radius: 5px;
}

.plc-right h3 {
    color: #384257 !important;
}

.plc img {
    margin: 24px auto;
}



.plc-panel-text {
    color: #384257;
}

.white-arrow-right {
    position: absolute;
    width: 46px;
    height: 37px;
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
    border-left: 34px solid #ffffff;
    right: -15px;
    top: 4%;
}

.python-white-arrow-right {
    position: absolute;
    width: 46px;
    height: 37px;
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
    border-right: 34px solid #16afbd;
    left: -15px;
    top: 4%;
}

.python h3 {
    color: #ffffff !important;
}

.contain {
    background: #2ecc71;
}

.marketing-column .rounded-circle {
    height: 170px;
    width: 170px;
    min-height: 170px;
    border: 1px solid rgb(221, 221, 221);
    padding: 22px 0px;
    margin-bottom: 28%;
}

.rounded-circle span {
    margin-top: 15px;
    padding-top: 3px;
    padding-left: 19px;
    padding-right: 19px;
}

.plc-background span {
    padding: 0px 7%;
    width: 59%;
    padding-top: 9%;
    margin-top: 0px;
    font-size: 20px;
}

.plc-background .marketing-right {
    /*  padding: 28px 16px;*/
    height: 120px;
    min-height: 120px;
    margin-bottom: 30px;
    padding: 12px 12px;
}

.answer {
    padding-left: 19px !important;
    padding-right: 1px !important;
}

/*.plc-background .btn-digitalgyan {
    background: #000;
    color: #ffffff !important;
    border: 1px solid transparent;
}*/
.plc-background .btn-digitalgyan {
    background: #a74afe ;
    color: #ffffff;
}

.plc-background .btn-digitalgyan:hover {
    background: #000;
    color: #fff !important;
    border: 1px solid #000;
}


/*plc css start*/

#python {
    background: #f8f8f8;
    padding: 4% 0px;
    padding-bottom: 2%;
}

.python {
    background: #16afbd;
    border-radius: 5px;
}


/*.green2{
          border-right: 30px solid #00b7ac;
          top: 40%;
      }*/

#python .plc-panel-text {
    color: #ffffff;
}

#python h3 {
    color: #ffffff;
}

#python .marketing-right {
    background-color: rgb(255, 255, 255);
    background: #f8f8f8;
    border: none;
    /*  border: 1px solid rgb(225, 226, 228) !important;*/
    padding: 37px 0px;
    -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

.python-cat {
    filter: drop-shadow(0px 2px 16px rgba(0, 0, 0, 0.05));
}

.panel-circle-icon>img:hover {
    transition: 2s;
    cursor: pointer;
    transform: rotate(360deg);
}

.Polygon_1_copy_13 {
    border-style: solid;
    border-width: 1px;
    border-color: rgb(225, 226, 228);
    background-color: rgb(255, 255, 255);
    position: absolute;
    left: 610px;
    top: 3194px;
    width: 170px;
    height: 198px;
    z-index: 203;
}

.news-feed {
    padding-top: 18%;
}

#python span {
    padding: 7px 27%;
    margin-top: 25px;
    text-align: center;
}

#java .plc-right {
    background: #e93253;
}

#java {
    padding: 4% 0px;
}

#java h3 {
    color: #ffffff !important;
}

#java .right-block-marketing {
    padding-top: 0px;
}

#java p {
    color: #f8f8f8;
}

#java .plc {
    border: 10px solid #eb4765;
}

#java .panel-circle-icon>img {
    margin: 18px auto;
}

#java .white-arrow-right {
    border-left: 30px solid #e93253;
    position: absolute;
    width: 50px;
    height: 37px;
    border-top: 23px solid transparent;
    border-bottom: 25px solid transparent;
    right: -23px;
    top: 4%;
}

.terms-left {
    background: url(../images/polygon.png)no-repeat;
    background-size: cover;
    width: 149px;
    height: 119px;
    padding: 0px 4px;
}

.terms-left2 {
    background: url(../images/polygon2.png)no-repeat;
    background-size: cover;
    width: 149px;
    height: 119px;
    padding: 8px 22px;
}

#java .marketing-right {
    padding: 0px 0px;
    border-radius: 0px;
    background: none;
    width: 472px;
}

#java .marketing-icon-text {
    padding: 6% 10%;
    font-size: 17px;
}

#java .imagss {
    margin-top: 16px;
    margin-left: 17%;
}

#java .text-rspan {
    padding: 11% 0px;
}

.j-answer {
    padding: 6% 6% !important;
}


/*android css*/

#android {
    background: url(../images/android.jpg)center center;
    background-size: cover;
    padding: 3.5% 0px;
    padding-bottom: 1.5%;
}

#android .news-feed {
    padding-top: 0px;
}

#android .marketing-right {
    height: 224px;
    min-height: 224px;
    border-radius: 5px;
    margin-bottom: 31px;
    padding: 15px 0px;
    border: 1px solid rgb(221, 221, 221);
}

#android .right-block-marketing {
    padding-top: 0%;
    margin-left: 0px;
}


/*#android .marketing-right img {
      height: 105px;
      min-height: 105px;
   }
   */

#android .marketing-icon-text {
    padding: 0px 83px;
    padding-top: 0px;
    margin-top: 14px;
}

.android-images {
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    border: 8px solid #f3f8ed;
    width: 141px;
    height: 141px;
    margin: 0px auto;
}

#android .marketing-right img {
    margin: 20px auto;
}

.android {
    background: #ffffff;
    padding-top: 10%;
    padding-bottom: 3%;
}

.a-vedios {
    margin: 29px auto;
}

#android .panel-circle-icon {
    border: 10px solid #f3f8ed;
}

#android .panel-circle-icon img {
    margin: 17px auto;
}

#android .panel-circle-icon img:hover {
    transition: 2s;
    cursor: pointer;
    transform: rotate(360deg);
}

#android h3 {
    color: #384257;
    padding-bottom: 2%;
    padding-top: 6%;
}

#android .subject-panel-text {
    padding: 0px 6px;
    line-height: 27px;
}

.a-white {
    border-right: 30px solid #ffffff;
}

#android .btn-digitalgyan:hover {
    transition: all 0.4s ease-in-out;
    color: #fff !important;
    background: #000;
    border: 1px solid #fff;
}

#android .btn-digitalgyan {
    background: #89bd50;
    color: #fff;
    border: 1px solid transparent;
}

.panel-circle-icon>img {
    margin: 29px auto;
    /*    height: 137px;
              min-height: 137px;
              width: 134px;*/
}

#android .download-text {
    color: #ffffff;
    font-size: 30px;
    margin: 27px auto;
}

.sw-testing-right img {
    margin: 15px auto;
    height: 121px;
    min-height: 121px;
}

#marketing .panel-circle-icon {
    border: 10px solid #f2754c;
}

#marketing .panel-circle-icon img {
    margin: 17px auto;
}

#python .panel-circle-icon {
    border: 10px solid #2eb7c4;
}





/*New css  add ankita 20-2-2019*/

.scroollogo {
    margin: 11px 3px;
}

.menu-other {
    float: left !important;
    padding-left: 0px !important;
    width: 77% !important;
}

.stepprocess1 .wsmenu>.wsmenu-list>li>.navtext {
    padding-top: 26px;
}

.wsmenu>.wsmenu-list>li>.navtext {
    line-height: 16px;
    text-align: right;
    padding: 31px 6px 19px;
    margin: 0px;
    font-family: "Roboto";
    font-weight: 400;
    font-style: normal;
    text-transform: capitalize;
    font-size: 14px;
}

.wsmenu {
    width: 100% !important;
    float: none !important;
}

.wsmenu>.wsmenu-list>li.wsshopmyaccount {
    padding-top: 20px !important;
}

.wsmenu>.wsmenu-list>li.wsshopmyaccount>a {
    /*padding: 0px 0px!important ; */
    padding: 8px 0px;
}

.halfmenu {
    left: 0px !important;
}

.halfmenu2 {
    width: 63% !important;
    left: 12% !important;
}

.halfmenu3 {
    width: 23% !important;
    left: 31% !important;
}

.halfmenu2 .wsmenu>.wsmenu-list>li .wstliststy06 {
    padding: 0px 0px 0px 13px !important;
}

.halfmenu2 ul.wstliststy06 {
    padding: 0px 0px 15px 13px !important;
}

.interview-li h4 i {
    display: none;
}


/*ul.sub-menu2 {
   list-style-type: circle;
   color: #4e4e4e !important;
}*/


/*.wsmenu>.wsmenu-list>li>ul.sub-menu2>li {
   display: list-item;
   color: #4e4e4e;
}
*/

.wsmenu>.wsmenu-list>li>ul.sub-menu2>li:hover>a {
    background-color: transparent;
}

.wsmenu>.wsmenu-list>li>ul.sub-menu2 {
    padding: 11px 24px 11px 11px;
    border-radius: 7px;
}

.wsmenu>.wsmenu-list>li>ul.sub-menu2>li>a i {
    padding: 0px 10px;
    font-size: 10px;
}

.wsmenu>.wsmenu-list>li>ul.sub-menu2>li>a {
    padding: 3px 12px;
    font-size: 14px !important;
    color: #6d7483 !important;
    font-family: 'Lato';
    font-weight: 400 !important;
}

.wsmenu>.wsmenu-list>li>ul.sub-menu2>li>a:hover {
    color: #00acee !important;
}

.stepprocess1 .wsmenu>.wsmenu-list>li>ul.sub-menu2>li>a {
    padding: 3px 0px !important;
}

.wsmenu>.wsmenu-list>li {
    padding-top: 0px !important;
}

.stepprocess1 .wsmenu>.wsmenu-list>li.wsshopmyaccount>a {
    padding: 8px 0px !important;
    cursor: pointer;
    padding: 10px 17px !important;
}

.menu-padding .wsshopmyaccount a {
    padding: 0px 0px !important;
}

.study-text {
    padding: 11% 0px !important;
    width: 70% !important;
    padding-left: 17px !important;
}

.vidos {
    margin-top: 9px !important;
}

#marketing .inter {
    padding-top: 0px !important;
}

#marketing {
    background: #f8f8f8;
    padding-top: 6%;
    padding-bottom: 2%;
}

.android-mobile {
    display: none;
}

.tutorials {
    padding-top: 11px !important;
}

.digital-right {
    display: none;
}

.python-responsive {
    display: none;
}

.digital-right {
    display: none;
}

.android-mobile {
    display: none;
}

.python-mobile {
    display: none;
}

#software-test {
    background: #fff !important;
    padding: 0% 0px;
    margin: 0px 0px !important;
}

.wstech {
    color: #949494;
}

.headerfull {
    z-index: 999;
}

.header-mains {
    background: #f8f8f8;
}


/*all inner page header css*/


/*bredcum css*/

#bredcum {
    background: #f6f6f6;
    padding: 35px 0px;
    border-bottom: 1px solid rgb(225, 226, 228);
}

#bredcum span {
    font-weight: 700;
    font-size: 15px;
    font-family: 'Lato';
    padding-top: 3px;
}

#bredcum h4 {
    font-weight: 700;
    font-size: 25px;
    color: #384257;
    margin-bottom: 0px;
    font-family: 'Lato';
}

#bredcum i {
    font-size: 12px;
    padding: 0px 5px;
}

#bredcum a {
    color: #384257;
    font-weight: 400;
}

#bredcum .mater {
    color: #00aced;
    text-decoration: none;
}

#bredcum .mater span{
    font-size: 15px !important;
}


/* study material page css*/

.left-side-panel {
    background: #ffffff;
}

.left-side-panel h2 {
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
    background: #00aced;
    padding: 20px;
    font-family: 'Lato';
    margin-bottom: 0px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.Rectangle_1_copy_2 {
    border-style: solid;
    border-width: 1px;
    border-color: rgb(225, 226, 228);
    background-color: rgb(0, 172, 237);
    position: absolute;
    left: 413px;
    top: 241px;
    width: 298px;
    height: 62px;
    z-index: 7;
}

.header-mains .owl-carousel .owl-item img {
    width: auto;
}

#digital-marketing {
    background: #f7f7f7;
    padding: 3% 0px;
    padding-bottom: 12%;
}

.left-side-panel ul {
    list-style: none;
    padding: 0px;
    padding: 14px 0px;
    border: 1px solid rgb(225, 226, 228);
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.left-side-panel li a , .left-side-panel li a span{
    font-family: 'Lato';
    font-weight: 400;
    color: #6d7483;
    font-size: 15px !important;
}

.left-side-panel li a i {
    font-size: 10px;
    padding: 0px 9px;
}

.left-side-panel li {
    padding: 9px;
    padding-top: 2px;
}

.left-side-panel li a:hover , .left-side-panel li a.active{
    color: #00acee !important;
}

.left-side-panel li:last-child {
    border-bottom: none;
}

.left-side-panel img {
    margin: 4px;
    margin-top: 3px;
}

.mid-section {
    background: #0095ff;
}

.mid-section h1 {
    font-size: 25px;
    color: #ffffff;
    font-weight: 500;
    padding: 6% 4%;
    padding-bottom: 0px;
}

.mid-section img {
    height: 127px;
    margin-right: 18px;
    margin-bottom: -17px;
}

.digital-intro {
    background: #ffffff;
    padding: 3% 2%;
    margin-top: 3%;
    padding-bottom: 0px;
}

.digital-intro button.btn-primary ,button.btn-success {
    font-weight: 700;
    font-size: 15px;
    color: #384257;
    font-family: 'Lato';
    padding: 10px 22px;
    margin: 0px 8px;
    margin-bottom: 15px;
    border-radius: 4px;
    border: none;
    background: #f6f6f6;
}
.digital-intro button.btn-success{
    float: right;
}
.digital-intro button.btn-primary:hover {
    background: #00aced;
    color: #ffffff;
}

.digital-intro button.btn-primary.active {
    background: #00aced !important;
}

.digital-intro h5 {
    color: #000000;
    font-weight: 500;
    padding-top: 5px;
}

.digital-intro p {
    font-weight: 400;
    color: #000000;
    font-size: 15px;
}

.digital-intro .prev-next {
    margin-top: 4%;
}

.adds img {
    box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.07);
    border-radius: 6px;
    border: rgb(255, 255, 255) 2px solid;
    margin-bottom: 9%;
}

#target {
    display: block;
}

.Hide {
    display: none;
}

.toggle {
    display: none;
}

.sidemenu {
    display: none;
}


/*vedio tutorail page css*/

#vedios-tutorial {
    padding: 4% 0px;
    background: #fafafa;
}

#tutorials h1 {
    font-size: 25px;
    font-weight: 700;
    color: #384257;
    margin: 0px auto;
    padding: 3% 0px;
    display: block;
}

.dropdown button {
    padding: 14px 47px;
}

#all-vedios {
    font-weight: 400;
    color: #666;
    font-size: 14px;
    border: 0;
    background: #f3f3f3 !important;
    font-family: 'Heebo';
    font-style: normal;
}

.toggle-button {
    font-weight: 400;
    color: #666;
    font-size: 14px;
    border: 0;
    background: #f3f3f3 !important;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
}

#seacr_panel .select-dropdown #withSelect {
    padding: 0px 11px;
    height: 55px;
    border-radius: 0px;
    border: 1px solid rgb(225, 226, 228);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: rgb(246, 246, 246);
    font-family: 'Lato';
    font-weight: 400;
    color: #6d7483;
    text-align: center;
    font-size: 16px;
}

.vedio-form {
    border: 1px solid rgb(225, 226, 228);
    border-radius: 5px;
    box-shadow: 0px 4px 6.51px 0.49px rgba(0, 0, 0, 0.03);
    background: #ffffff;
    padding: 27px 26px;
}

#ques-ans .vedio-form {
    padding-left: 20px;
}

#seacr_panel .select-dropdown #withSelect option {
    background: #ffffff;
    color: #393939;
}

#seacr_panel .vedio-search {
    height: 54px;
    background-color: #ffffff;
    border: 1px solid rgb(225, 226, 228);
    font-family: 'Lato';
    /*border-left: none;*/
    font-weight: 400;
    font-size: 16px;
    color: #818181;
}

#ques-ans #seacr_panel .vedio-search {
    border-left: 1px solid rgb(225, 226, 228);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    margin-left: 8px;
}

#seacr_panel .input-group-btn button:hover {
    color: #00aced;
    border: 1px solid #00aced;
    background: #ffffff;
}

.ask-ques h5 {
    font-weight: 700;
    color: #384257;
    margin-bottom: 0px;
    padding-top: 2%;
}

#seacr_panel .input-group-btn button {
    background: #00aced;
    padding: 15px 24px;
    border-radius: 0px;
    letter-spacing: 0.5px;
    border: 1px solid transparent;
    font-weight: 700;
    font-size: 15px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #ffffff;
    font-family: 'Lato';
}

.form-control:focus {
    box-shadow: none;
}

#tutorials .tab-slider--nav {
    /*float: left;*/
    margin-bottom: 20px;
    margin: 0px auto;
    display: block;
}

#tutorials .tab-slider--tabs {
    display: block;
    float: left;
    margin: 1% 0px;
    padding: 0;
    list-style: none;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin: 0px auto;
    width: 100%;
    text-align: center;
}

#tutorials .tab-slider--tabs:after {
    content: "";
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 250ms ease-in-out;
}

#tutorials li:last-child , #tutorials li:nth(2)-child {
    margin-left: -5px;
}

#tutorials .tab-slider--tabs.slide:after {
    left: 50%;
}

.english-tab {
    margin-top: 4%;
}

#tutorials .tab-slider--trigger {
    font-size: 16px;
    line-height: 0;
    font-family: 'Lato';
    font-weight: 700;
    color: rgb(56, 66, 87);
    text-transform: uppercase;
    text-align: center;
    padding: 25px 33px;
    position: relative;
    background: #f6f6f6;
    z-index: 2;
    cursor: pointer;
    display: inline-block;
    transition: color 250ms ease-in-out;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid rgb(225, 226, 228);
    border-radius: 4px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

#tutorials .tab-slider--trigger.active , #tutorials .tab-slider--trigger.active a{
    color: #fff;
    border: 1px solid transparent;
    background: #00aced;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

#tutorials .tab-slider--body {
    margin-bottom: 20px;
}

.vedio-1 {
    border: 1px solid rgb(225, 226, 228);
    border-radius: 6px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 4px 6.51px 0.49px rgba(0, 0, 0, 0.03);
    margin-bottom: 10%;
    padding-bottom: 11px;
    position: relative;
}

.vedio-1 h5 {
    font-weight: 700;
    color: #384257;
    padding: 4% 6%;
    font-size: 18px;
    line-height: 25px;
    padding-bottom: 1%;
}

.vedio-duration {
    border-radius: 5px;
    padding: 2px 10px !important;
    font-weight: 700 !important;
    font-size: 14px !important;
    color: #ffffff !important;
    background-color: rgb(0, 0, 0) !important;
    opacity: 0.58;
    position: absolute;
    right: 1%;
    bottom: 46%;
}

.vedio-1 iframe {
    width: 100%;
    height: 175px;
    min-height: 175px;
}

.vedio-1 img {
    width: 100%;
    min-height: 175px;
    height: 175px;
}

.vedio-1 span {
    font-size: 14px;
    font-weight: 400;
    padding: 0px 11px;
    color: #6d7483;
    font-family: 'Lato';
}

.vedio-1 i {
    color: #c6c9cf;
    padding: 0px 6px;
}

.vedio-1 p {
    color: #808081;
    font-size: 14px;
    font-weight: 500;
    padding: 0px 4%;
}


/*view vedio page css*/

#view-vedio iframe {
    width: 100%;
    border-radius: 5px;
    height: 414px;
    border: 1px solid rgb(225, 226, 228);
    background-color: rgb(107, 191, 255);
    box-shadow: 0px 4px 6.51px 0.49px rgba(0, 0, 0, 0.03);
    float: right;
}

#view-vedio {
    padding: 4% 0px;
    padding-bottom: 0px;
}

#video-des {
    padding: 2% 0px;
    padding-bottom: 2%;
}

#video-des h5 {
    font-weight: 700;
    color: #384257;
    padding-bottom: 12px;
}

#video-des p {
    font-size: 15px;
    font-weight: 400;
    font-family: "Roboto";
    color: #6d7483;
    line-height: 24px;
}

.quotes-des {
    font-size: 18px !important;
    font-weight: 500 !important;
    font-family: "Lato" !important;
    color: #6d7483 !important;
    background: #f6f6f6;
    margin: 25px 0px;
    border-left: 6px solid #00acee;
    border-radius: 5px;
    padding: 19px 20px;
    line-height: 27px !important;
}

/*.related-vedios {
    border: 1px solid rgb(233, 233, 233);
    border-radius: 6px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.07);
    margin-bottom: 6%;
}

*/
.related-vedios iframe {
    height: 181px !important;
    min-height: 181px;
}

.related-vedios img {
    height: 120px;
    min-height: 120px;
    border-top-left-radius: 6px;
}

.related-1 {
    border: 1px solid rgb(225, 226, 228);
    border-radius: 6px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 4px 6.51px 0.49px rgba(0, 0, 0, 0.03);
    margin-bottom: 10%;
    padding-bottom: 11px;
    position: relative;
}

.related-vedios h5 {
    font-weight: 700;
    color: #384257;
    padding: 2% 6%;
    font-size: 16px;
    line-height: 21px;
    padding-bottom: 0%;
}

.related-vedios h2 {
    font-weight: 700;
    color: #384257;
    font-size: 26px;
    padding-bottom: 2%;
}

#video-des .pading-rightr {
    padding-right: 0px;
}

#video-des .pading-leftr {
    padding-left: 0px;
}

#ques-ans #seacr_panel .select-dropdown #withSelect {
    background: #ffffff;
    padding: 0px 50px;
    padding-left: 14px;
    border-radius: 5px;
}

#ques-ans .select-dropdown {
    margin: 0px 8px;
}

#ques-ans #seacr_panel {
    width: 100%;
}

.post-ques button {
    color: #ffffff;
    font-weight: 700;
    padding: 10px 14px;
    font-size: 18px;
    background: #00aced;
    font-family: "Lato";
    border-radius: 4px;
    border: 0px;
}

.ask-ques {
    padding: 3% 0px;
}

.question-type {
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 4px 6.51px 0.49px rgba(0, 0, 0, 0.03);
    border: 1px solid rgb(225, 226, 228);
    border-radius: 5px;
    margin-bottom: 2%;
    padding: 19px 0px;
}

.question-type h3 {
    font-size: 23px;
    font-weight: 700;
    color: #384257;
    padding: 5px 8px;
}
.question-type h3 a{
    color: #384257;
}

.question-type u {
    font-size: 23px;
    font-weight: 700;
    text-decoration: none;
    color: #384257;
}

.question-type li {
    border-radius: 15px;
    background-color: rgb(246, 246, 246);
    display: inline-block;
    margin: 0px 3px;
    padding: 3px 13px;
    padding-bottom: 6px;
}

.question-type ul {
    padding: 0px;
    padding-top: 10px;
}

.question-type li a {
    font-family: 'Lato';
    font-weight: 700;
    font-size: 13px;
    color: #6d7483;
}

.question-type li a:hover {
    color: #00acee;
}

.like-dislike {
    font-weight: 400;
    font-size: 14px;
    font-family: "Lato";
    padding-top: 5%;
    color: #6d7483;
}

.like-dislike i {
    color: #adb2ba;
    padding: 0px 6px;
    float: none !important;
}

.like-dislike a {
    color: #adb2ba !important;
}

.like-dislike a:hover {
    color: #00acee !important;
}

.t-down i {
    color: #ababab !important;
}

.ques-side img {
    border: 3px solid rgb(255, 255, 255);
    border-radius: 50%;
    height: 43px;
    width: 43px;
    box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.1);
}

.ques-side span {
    font-weight: 400;
    font-size: 12px;
    font-family: 'Lato';
    color: #6d7483;
    padding: 0px 13px;
    display: block;
}

.ques-side2 i {
    padding: 0px 10px;
    padding-left: 0px;
}

.ques-side u {
    text-decoration: none;
    color: #384257;
    font-size: 16px;
}

#ques-ans {
    padding: 4% 0px;
    background: #fafafa;
}

.upper-section {
    box-shadow: none;
}

.side-men i {
    float: right;
    color: #6d7483;
    cursor: pointer;
}


/*answer page css*/

.ans-side img {
    margin: 0px auto;
    display: block;
}

.upper-section li {
    box-shadow: none;
    background-color: rgb(237, 237, 237);
}

.upper-section ul {
    margin-top: 3%;
}

.upper-section .like-dislike span {
    padding: 0px 1%;
}

.upper-section .like-dislike i {
    padding: 0px 9px;
}

.post-ans button {
    padding: 4px 11px;
}

.post-ans {
    margin: 0px 3%;
}

.upper-section .ques-side span {
    padding-top: 10px;
}

.answer-type {
    box-shadow: none;
    background: none;
    border: none;
    margin-bottom: 0px;
    border-radius: 0px;
    margin: 0px 12px;
    border-bottom: 1px solid #e1e2e4;
}

.answer-type p {
    font-weight: 400;
    font-size: 16px;
    font-family: 'Lato';
    color: #384257;
    margin-bottom: 2px;
    padding-top: 2%;
}

.answer-type p:first-child {
    padding-top: 1%;
}

.answer-pannel {
    border: 1px solid rgb(225, 226, 228);
    box-shadow: 0px 4px 6.51px 0.49px rgba(0, 0, 0, 0.03);
    background: rgb(255, 255, 255);
    border-radius: 5px;
    padding-bottom: 0.3%;
}

.answer-type .ques-side img {
    margin: 0px auto;
    display: block;
}

.answer-type .ques-side {
    padding-top: 2%;
}

.answer-type .like-dislike {
    padding-top: 11% !important;
}

.adds-img {
    box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.07);
    border-radius: 6px;
    border: rgb(255, 255, 255) 2px solid;
    margin-bottom: 9%;
}

.answer-type:last-child {
    border-bottom: none;
}

.answer-type .ques-side2 i {
    padding: 0px 12px;
    padding-right: 6px;
}

.plc-background .marketing-right img {
    padding: 13px;
}

.student-name {
    padding-top: 9px !important;
}

.ques-side2 span {
    padding-top: 1px;
}

.ques-side {
    padding-top: 9px;
}

.plc-sideimg {
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    border: 6px solid rgb(246, 237, 255);
    width: 94px;
    height: 94px;
}

.fix_header {
    position: fixed !important;
    width: 100% !important;
    background: red !important
}

.flip {
    display: none;
}


/*practice-quiz page css*/

#practice-quiz {
    background: #fafafa;
    padding: 3% 0px;
    padding-bottom: 2%;
}

#practice-quiz h3 {
    font-size: 30px;
    font-weight: 700;
    color: #384257;
}

#practice-quiz p {
    font-size: 16px;
    font-weight: 400;
    color: #6d7483;
}

#practice-quiz .digital-intro {
    border: 1px solid rgb(225, 226, 228);
    border-radius: 5px;
    padding: 3% 3%;
    margin-top: 0%;
    box-shadow: 0px 4px 6.51px 0.49px rgba(0, 0, 0, 0.03);
}

#practice-quiz .digital-intro h5 {
    font-weight: 700;
    color: #384257;
    padding-top: 5px;
    padding-bottom: 19px;
}

.radio {
    margin: 0.5rem;
}

.radio input[type="radio"] {
    position: absolute;
    opacity: 0;
}

.radio i.green {
    color: #48aa2d;
    font-size: 25px;
    float: right;
    margin-right: 10px;

}
.radio i.red {
    color: #ff1a1a;
    font-size: 25px;
    float: right;
    margin-right: 10px;

}

.radio input[type="radio"]+label span.radio-label{
    content: '';
    border-radius: 50%;
    border: 1px solid rgb(209, 211, 214);
    display: block;
    width: 27px;
    height: 27px;
    position: relative;
    margin-right: 1em;
    margin-left: 5%;
    vertical-align: top;
    cursor: pointer;
    text-align: center;
    transition: all 250ms ease;
    float: left;
    clear: right;
}

.radio input[type="radio"]:checked+label span.radio-label{
    /*background-color: #00aced;*/
    /*border: 1px solid #00aced;*/
    /*background-color: #f9191b;*/
    /*border: 1px solid #f9191b;*/
    box-shadow: inset 0 0 0 5px #ffffff;
}

.radio input[type="radio"]:focus+label span.radio-label {
    outline: none;
    /*border-color: #3197EE;*/
}

.radio input[type="radio"]+.radio-label:empty:before {
    margin-right: 0;
}

.radio-label {
    border: 1px solid rgb(225, 226, 228);
    border-radius: 5px;
    font-family: 'Lato';
    font-weight: 700;
    padding: 12px 0px;
    width: 100%;
}
.radio-label p{
    color: #6d7483;
    font-size: 16px;
    width: 75%;
    float: left;
    margin-bottom: 0px;
}

/*.digital-intro .radio-label label:focus,
label:active,
input:checked+label {
    color: #00aced;
    border: 1px solid #00aced;
}*/



/* for color according to answr */
.digital-intro .radio-label label,
input+label.green-check.green{
    color: #48aa2d;
    border: 1px solid #48aa2d;
}

.radio input[type="radio"]+label.green span.radio-label {
    outline: none;
    border-color: #48aa2d;
    background-color: #48aa2d;
}

.digital-intro .radio-label label,
input+label.green-check.red{
    color: #f9191b;
    border: 1px solid #f9191b;
}

.radio input[type="radio"]+label.red span.radio-label {
    outline: none;
    border-color: #f9191b;
    background-color: #f9191b;
}

/* for color according to answr */

.header .owl-theme .owl-dots .owl-dot span {
    width: 7px;
    height: 7px;
    margin: 5px 4px;
}

.header .owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
    background: #384257;
}

.header .owl-theme .owl-dots .owl-dot span {
    background: #ffffff;
}

/*key trends page css*/

#key-trends {
    padding: 4% 0px;
}

#key-form {
    border-radius: 5px;
    box-shadow: 0px 4px 6.51px 0.49px rgba(0, 0, 0, 0.03);
    border: 1px solid rgb(225, 226, 228);
    ;
    background: #ffffff;
    padding: 28px 27px;
    margin-bottom: 3%;
}

#key-form input {
    border: 1px solid rgb(225, 226, 228) !important;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

#key-form .header-submit {
    font-weight: 700;
    font-family: 'Lato';
    color: #ffffff;
    background: #00aced;
    padding: 15px 25px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    font-size: 15px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.all-button ul {
    list-style: none;
    padding: 27px 0px;
    margin-bottom: 6px;
    padding-bottom: 0px;
}

.all-button li {
    display: inline-block;
    padding: 0px 3px;
    margin-bottom: 20px;
}

.all-button li a {
    background: #f6f6f6;
    font-size: 15px;
    color: #384257;
    border-radius: 5px;
    padding: 9px 17px;
    font-family: 'Lato';
    font-weight: 700;
}

.Rounded_Rectangle_3_copy_5 {
    background-color: rgb(0, 172, 237);
    position: absolute;
    left: 415px;
    top: 447px;
    width: 119px;
    height: 131px;
    z-index: 19;
}

.answer-panel {
    border: 1px solid rgb(225, 226, 228);
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    margin-bottom: 2%;
    box-shadow: 0px 4px 6.51px 0.49px rgba(0, 0, 0, 0.03);
    background: url(../images/left.png) left center no-repeat;
    /* height: 202px; */
    background-size: 13% 104%;
    height: 100%;
    padding: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
}

.panel-in {
    width: 83px;
    height: 83px;
    border-radius: 50%;
    font-size: 50px;
    margin: 0px auto;
    font-family: 'Lato';
    font-weight: 400;
    background: #ffffff;
}

.answer-panel h5 {
    color: #384257;
    font-weight: 700;
}

.answer-panel p {
    color: #6d7483;
    font-family: 'Lato';
    font-weight: 400;
    font-size: 16px;
}

.answer-dis {
    padding: 17px 17px;
    width: 85%;
    margin-left: 22px;
}

.ques-sidebar {
    border: 1px solid rgb(225, 226, 228);
    border-radius: 6px;
    margin-bottom: 25px;
}

.ques-sidebar h4 {
    font-weight: 700;
    font-size: 18px;
    color: #ffffff;
    margin-bottom: 0px;
    padding: 20px 18px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    background: #00aced;
}

.ques-sidebar li a {
    font-family: 'Lato';
    font-weight: 700;
    font-size: 15px;
    color: #384257;
    padding: 12px 0px;
}

.ques-sidebar li {
    font-family: 'Lato';
    font-weight: 400;
    font-size: 15px;
    color: #384257;
    padding: 12px 0px;
    border-bottom: 1px solid #e1e2e4;
}

.ques-sidebar li:first-child {
    padding: 5px 0px;
}

.ques-sidebar ul {
    list-style: none;
    background: #ffffff;
    padding: 8px;
    margin-bottom: 10px;
    padding-bottom: 19px;
    margin-bottom: 0px;
}

.ques-sidebar ul li::before {
    color: #6bbfff;
    content: "\2022";
    margin-top: -5px;
    float: left;
    font-size: 22px;
    padding: 0px 10px;
}

.all-button {
    background: #00aced;
    color: #ffffff;
    font-size: 14px;
    font-family: 'Lato';
    border-radius: 4px;
    font-weight: 700;
    padding: 8px 28px;
    border: 1px solid transparent;
}

#key-form .all-button {
    background: none;
    border: none;
    padding: 0px 0px;
}

#key-form .all-button:hover {
    border: none;
}

.ques-sidebar .all-button {
    margin: 18px auto;
    display: table;
    margin-bottom: 0px;
}

#key-form .all-button li a:hover {
    color: #ffffff;
    background: #00aced;
}

.like-dislike a {
    cursor: pointer;
}

#key-form .all-button .active {
    background-color: #00aced;
    color: #fff;
}

.ques-sidebar a:hover {
    color: #00acee;
}

.all-button:hover {
    border: 1px solid #00acee;
    background: #ffffff;
    color: #00acee;
}

.ques-sidebar span {
    font-family: 'Lato';
    font-weight: 400;
    font-size: 13px;
    color: #6d7483;
    display: block;
    padding: 7px 34px;
}
.like-dislike-question,.like-dislike-answer{
    cursor: pointer;
}
.like i {
    color: #25bf7f !important;
}

.dislike i {
    color: #eb4342 !important;
}

.asks-ans .like-dislike {
    padding-top: 34%;
}

.ask-modal .cancel-button {
    background: none;
    font-size: 18px;
    font-weight: 700;
    color: #6d7483;
    font-family: 'Lato';
}

/*ask answer popup css*/

.ask-modal .modal-header {
    background: #00aced;
    padding-top: 13px;
    padding-bottom: 13px;
}

.ask-modal h4 {
    font-weight: 700;
    color: #ffffff;
    font-size: 22px;
}

.ask-modal .close {
    border-radius: 50%;
    opacity: inherit;
    font-size: 23px;
    padding: 6px 11px;
    margin: 0px;
    font-weight: 400;
    color: #ffffff;
    background-color: #0097d0;
}

.ask-modal h5 {
    font-weight: 700;
    color: #384257;
}

.ask-modal .modal-dialog {
    max-width: 793px;
}



.ask-modal .modal-body {
    padding: 39px;
    padding-bottom: 15px;
}

.ask-modal textarea {
    border: 1px rgb(225, 226, 228) solid;
    border-radius: 5px;
    font-family: 'Lato';
    font-weight: 400;
    font-size: 16px;
    padding-left: 14px;
    margin-top: 3%;
    padding-top: 10px;
    height: 275px;
    color: #6d7483;
    background-color: rgb(255, 255, 255);
    height: 135px !important;
}

.ask-modal .modal-footer {
    border: none;
    padding-top: 0px !important;
    padding-bottom: 32px !important;
    padding: 40px;
    justify-content: flex-start;
}

.ask-modal .all-button {
    font-size: 16px;
    padding: 10px 29px;
}

.ask-modal.cancel-button {
    background: none;
    font-family: 'Lato';
    font-weight: 700;
    font-size: 16px;
    color: #6d7483;
}


/*ask question popup css*/

.ask-questions .modal-body {
    padding: 39px;
    padding-bottom: 15px;
    padding-top: 15px !important;
}


/*
login popup css*/

.login-modal {
    /*  padding-right: 23% !important;*/
}

.login-modal .modal-dialog {
    max-width: 1063px;
}

#login-popup .modal-content {
    border-radius: 10px;
    /*width: 960px;*/
    border: none;
    /*margin-left: -11%;
*/
}

.login-modal h1 {
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 0px;
    color: #384257;
}

.login-modal h5 {
    font-weight: 400;
    color: #6d7483;
    margin-bottom: 3%;
    margin-top: 1%;
}

.login-modal .form-fields {
    border: 1px solid rgb(225, 226, 228);
    background: #ffffff;
    font-family: 'Lato';
    font-weight: 400;
    color: #6d7483;
    font-size: 17px;
    padding: 13px 11px;
    margin-top: 6%;
    border-radius: 5px;
}

#login-popup {
    margin-bottom: 0px !important;
}

.form-fields::placeholder {
    font-family: 'Lato';
    font-weight: 400;
    color: #6d7483;
    font-size: 17px;
}

.remember {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    color: #6d7483;
    font-weight: 400;
    font-family: 'Lato';
    font-size: 16px;
    padding-top: 3px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


/* Hide the browser's default checkbox */

.remember input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

#login-popup h3 {
    font-weight: 400;
    font-size: 16px;
    color: #6d7483;
    padding-top: 6px;
    cursor: pointer;
}


/* Create a custom checkbox */

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    border: 1px solid #e1e2e4;
}


/* When the checkbox is checked, add a blue background */

.remember input:checked~.checkmark {
    background-color: #ffffff;
    border: 1px solid rgb(225, 226, 228);
    border-radius: 4px;
}


/* Create the checkmark/indicator (hidden when not checked) */

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}


/* Show the checkmark when checked */

.remember input:checked~.checkmark:after {
    display: block;
}


/* Style the checkmark/indicator */

.remember .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid #00aaeb;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.modal-header {
    border: none;
}

#login-popup .all-button {
    font-size: 16px;
    padding: 10px 55px;
    margin: 15px auto;
    display: block;
}

.login-modal h6 {
    font-size: 16px;
    font-family: 'Lato';
    font-weight: 400;
    color: #6d7483;
    display: block;
    padding: 19px 0px;
    padding-top: 5px;
}

.login-modal .close {
    position: absolute;
    right: 9px;
    top: 4px;
    color: #6d7483;
    z-index: 999999;
}

.login-modal .social-icon li {
    border-radius: 80%;
    height: 46px;
    width: 46px;
    text-align: center;
    padding-top: 12px;
    margin: 0px 4px;
    display: inline-block;
    list-style: none;
    /*    margin: 0px 12px;*/

}

.login-modal .social-icon ul {
    padding: 0px;
}

.login-modal .social-icon li a {
    padding: 10px;
    color: #ffffff;
    font-size: 20px;
    border-radius: 80%;
}

.login-modal .social-icon {
    margin: 0px auto;
    display: block;
    text-align: center;
}

.help-block {
    color: red;
}

.login-modal u a {
    color: #00aced;
}

.login-modal .social-icon .facebook {
    background: #3b5998;
    padding: 11px 18px;
}

.login-modal .social-icon .twitter {
    background: #55acee;
    padding: 11px 14px;

}

.login-modal .social-icon .google-plus {
    background: #dc4e41;
}

.login-modal u {
    display: block;
    font-size: 16px;
    font-family: 'Lato';
    font-weight: 400;
    text-decoration: none;
    color: #6d7483;
    padding-top: 8%;
}

.login-modal u a {
    color: #00aced !important;
    cursor: pointer;
}

.login-side {
    margin-top: 23%;
}

.login-modal .modal-body {
    padding-left: 37px !important;
    padding: 39px;
    padding-right: 8px;
    padding-bottom: 14px;
}


/*forgot popup*/

#forgot-password .modal-content {
    border-radius: 10px;
    border: none;
}

#forgot-password .all-button {
    margin: 32px auto;
    display: block;
    margin-bottom: 0px;
}

#forgot-password u {
    padding-top: 6% !important;
}

#forgot-password u a {
    cursor: pointer;
    color: #00aced;
}


#forgot-password .boder-img {
    margin-bottom: 6px;
}

.field-icon {
    float: right;
    margin-top: -33px;
    margin-right: 12px;
    position: relative;
    z-index: 2;
    color: #6d7483;
}

/*signup popup*/

#signup-popup .modal-content {
    border-radius: 10px;
    border: none;
}

#signup-popup .all-button {
    font-size: 16px;
    padding: 10px 55px;
    margin: 15px auto;
    display: block;
}

/*competition exam page css*/

#all-competition {
    background: #f4f5f9;
    padding: 3.5% 0px;
}

.all-exams {
    border: 1px solid rgb(231, 231, 231);
    background: rgb(255, 255, 255);
    border-radius: 5px;
    padding: 27px;
}

.all-exams h3 {
    font-size: 25px;
    font-weight: 700;
    color: #384257;
}

.all-exams p {
    font-size: 16px;
    font-weight: 400;
    padding-top: 12px;
    color: #5d5e69;
    padding-right: 17px;
    line-height: 30px;
    margin-bottom: 4px;
    font-family: "Roboto";
}

.all-topic {
    border-radius: 5px;
    background: #f39c12;
    margin-top: 14%;
    padding: 25px 0px;
}

.all-topic h4 {
    font-size: 16px;
    color: #ffffff;
    line-height: 31px;
    font-weight: 700;
    letter-spacing: 0.5px;
}

.all-topic span i {
    padding: 0px 4px;
    font-size: 12px;
}

.all-topic span {
    font-size: 15px;
    display: block;
    color: #ffffff;
    font-weight: 400;
}

.nda {
    background: #e74c3c;
}

.bank {
    background: #2dcc70;
}

.clerk {
    background: #3cb2da;
}

.cds {
    background: #1abc9c;
}

.chcl {
    background: #3598db;
}

.groups {
    background: #7277d5;
}

.ldc {
    background: #f1c40f;
}

.tier {
    border: 1px solid rgb(231, 231, 231);
    border-radius: 5px;
    margin-top: 3%;
    padding: 28px 0px;
    background-color: rgb(255, 255, 255);
}

.tier h1 {
    font-size: 30px;
    color: #3a3c41;
    margin-bottom: 0px;
    font-weight: 400;
}


/*grammaar test page css*/

.show-text {
    border-radius: 50%;
    width: 48px;
    height: 48px;
    font-size: 30px;
    font-family: 'Lato';
    font-weight: 700;
    color: #ffffff;
    padding: 2px;
    background: #008aff;
}

.grammar-test {
    border: 1px solid rgb(231, 231, 231);
    border-radius: 5px;
    padding: 11px 11px;
    margin-top: 16%;
    background-color: rgb(255, 255, 255);
}

.grammar-test:hover {
    border: 1px solid rgb(0, 138, 255);
}

.all-exams h5 {
    font-size: 16px;
    font-weight: 700;
    color: #3a3c41;
    padding-left: 11px;
    padding-top: 14px;
}

.grammar-test p {
    color: #3a3c41;
    font-size: 13px;
    font-weight: 700;
    line-height: 15px;
    padding: 0px 0px;
    margin: 0px 0px;
}

.online h5 {
    padding-top: 6px;
}

.modal-verb {
    background: #2dcc70;
}

.online-tests {
    background: #354a5f;
}

.prepositions {
    background: #9a59b5;
}

.if-condition {
    background: #e84c3d;
}

.artcls {
    background: #7277d5;
}

.verb {
    background: #43cbbd;
}

.active-voice {
    background: #f1c40f;
}

.actives h5 {
    padding-top: 1px;
}

.all-test h4 {
    font-size: 25px;
    font-weight: 700;
    color: #3a3c41;
    padding-top: 4%;
}

.all-test .all-exams {
    padding-top: 34px;
    padding-bottom: 43px;
}


/*spotting-error page css*/

#spotting-error {
    background: #f4f5f9;
    padding: 3.5% 0px;
}

.all-quesshow {
    border: 1px solid rgb(231, 231, 231);
    background: #ffffff;
    border-radius: 5px;
    padding: 11px;
    padding-top: 22px;
    margin-bottom: 1%;
}

.all-quesshow h5 {
    color: #384257;
    width: 95%;
    font-size: 18px;
    font-weight: 700;
}

.all-quesshow i {
    color: #2dcc70;
    padding: 5px 14px;
    float: left;
    font-size: 11px;
}

.all-quesshow li {
    color: #384257;
    list-style: none;
    display: inline-block;
    font-size: 15px;
    font-weight: 700;
    width: 39%;
    padding: 8px 0px;
}

.all-quesshow u {
    padding-right: 10px;
    text-decoration: none;
}

.all-quesshow b {
    width: 50%;
}

.show-answer h4 {
    font-size: 15px;
    color: #5d5e69;
    font-weight: 400;
    line-height: 23px;
    padding: 0px 4px;
}

.show-answer h4:nth-child(2) {
    color: #384257 !important;
    font-weight: 700;
}

.show-answer h4:nth-child(5) {
    color: #384257 !important;
    font-weight: 700;
}

.show-answer {
    border-top: 1px solid rgb(231, 231, 231);
    padding-top: 12px;
}

.show-answer button {
    font-size: 15px;
    font-family: 'Lato';
    color: #2dcc70;
    font-weight: 700;
    background: none;
    border: none;
}

#login-popup label:focus {
    outline: none !important;
    border: 0px !important;
}

.modal {
    background: rgba(0, 0, 0, 0.5);
}

#form-tags-3_addTag input:focus {
    outline: none !important;
    border: 0px !important;
}

.tag-input::placeholder {
    color: red;
    font-family: 'Lato';
    font-weight: 400;
    font-size: 17px;
}

.ask-modal .tagsinput div input {
    background: transparent;
    display: block;
    width: 100%;
    line-height: 20px;
    padding: 5px;
    font-family: 'Lato';
    font-weight: 400;
    font-size: 17px;
    border: 0 none;
    color: #6d7483;
    margin: 0 5px 5px 0;
}

.ask-modal .tagsinput {
    font-family: 'Lato';
    margin-top: 28px;
    border-radius: 5px;
    font-weight: 400;
    font-size: 17px;
}

.ask-modal .tagsinput .tag {
    background: #00acee;
    color: #ffffff;
}

.ask-modal .tagsinput .tag .tag-remove {
    color: #6d7483;
}

.ask-modal .tagsinput .tag .tag-remove:before,
.ask-modal .tagsinput .tag .tag-remove:after {
    background: #6d7483;
}

.remember:active {
    border: 0px;
    color: #6d7483;
}

.remember a {
    color: #00aced;
}

.related-vedios .owl-carousel .owl-dots.disabled,
.owl-carousel .owl-nav.disabled {
    display: block;
}

.related-vedios .owl-theme .owl-nav [class*=owl-]:hover {
    color: blue;
}

#related-videos .owl-prev {
    position: absolute;
    left: -9%;
    top: 35%;
    font-size: 44px;
    color: #000;
    outline: 0;
    background: 0 0;
    border: 1px solid transparent;
    box-shadow: 4px 2px 6px 1px #ccc;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    line-height: 0px;
    font-size: 30px;
    vertical-align: middle;
    padding: 0px !important;
}

#related-videos .owl-next {
    position: absolute;
    right: -9%;
    top: 35%;
    font-size: 44px;
    color: #000;
    outline: 0;
    background: 0 0;
    border: 1px solid transparent;
    box-shadow: 4px 2px 6px 1px #ccc;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    line-height: 0px;
    font-size: 30px;
    vertical-align: middle;
    padding: 0px !important;
}

/*ssc-pre-test css*/

#ssc-pre {
    background: #f4f5f9;
    padding: 2.5% 0px;
}

#ssc-pre .nav-tabs {
    display: block;
    border-bottom: none;
}

@media(min-width:920px) {
    #ssc-pre .nav-tabs {
        display: flex;
    }

    #ssc-pre .card {
        border: none;
    }

    #ssc-pre .card .card-header {
        display: none;
    }

    #ssc-pre .card .collapse {
        display: block;
    }
}


@media (min-width: 320px) and (max-width: 480px) {
    #ssc-pre .nav-tabs {
        display: flex;
        flex-wrap: inherit;
    }

    #ssc-pre .card {
        border: none;
    }

    #ssc-pre .card .card-header {
        display: none;
    }

    #ssc-pre .card .collapse {
        display: block;
    }
}


/*@media(max-width:767px) {
    #ssc-pre .tab-content>.tab-pane {
        display: block !important;
        opacity: 1;
    }
}*/



#ssc-pre .nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
    border-radius: 4px;
    box-shadow: 0px 4px 6.51px 0.49px rgba(0, 0, 0, 0.03);
    background-color: rgb(0, 172, 237);
    color: #ffffff;
}

#ssc-pre .nav-link {
    font-size: 15px;
    font-family: 'Lato';
    font-weight: 700;
    color: #5d5e69;
    box-shadow: 0px 4px 6.51px 0.49px rgba(0, 0, 0, 0.03);
    background: #ffffff;
    border-radius: 4px;
    border: 1px solid rgb(225, 226, 228);
}

#ssc-pre .nav-tabs .nav-item {
    padding: 8px;
    min-width: 171px;
    text-align: center;
}

#ssc-pre h6 {
    font-size: 15px;
    font-weight: 700;
    color: #5d5e69;
    padding-top: 2%;
}

#ssc-pre span {
    color: #00aced;
}

#ssc-pre h3 {
    font-size: 18px;
    font-weight: 700;
    color: #3a3c41;
    width: 96%;
    line-height: 25px;
    padding: 2px 9px;
}

#ssc-pre i {
    font-style: normal;
    font-size: 18px;
    font-weight: 700;
    color: #3a3c41;
}

#ssc-pre #content {
    background: #ffffff;
    border: 1px solid rgb(231, 231, 231);
    border-radius: 5px;
    margin-top: 10px;
}

.options-ques {
    border: 1px solid rgb(231, 231, 231);
    background: #ffffff;
    border-radius: 5px;
    margin-top: 14px;
    cursor: pointer;
}

.options-ques:hover {
    border: 1px solid #00aced;
}

.options-ques:hover .capital-word {
    background: #00aced;
    color: #ffffff;
}


.capital-word {
    background-color: rgb(244, 245, 249);
    color: #3a3c41;
    font-size: 20px;
    font-family: 'Lato';
    padding: 8px 15px;
    border-radius: 5px 0 0 5px;
    font-weight: 700;
}

.answer-options {
    font-size: 15px;
    font-family: 'Lato';
    font-weight: 700;
    color: #3a3c41;
    padding: 11px 17px;
}

.answer-buttons {
    border-top: 1px solid rgb(234, 234, 234);
    padding: 3% 0px;
    padding-bottom: 7px;
}

#ssc-pre .card-body {
    padding-left: 0px;
}

.question-in {
    margin: 7px 21px;
    margin-bottom: 3.5%;
}

.answer-buttons .all-button {
    padding: 11px 23px;
}

.tag-erase {
    width: 75%;
    float: left;
}

.tag-erase button:first-child {
    background: #e9b425;
    margin: 0px 10px;
}

.tag-erase button:first-child:hover {
    color: #e9b425;
    border: 1px solid #e9b425;
    background: #ffffff;
}

.tag-erase button:last-child {
    background: #e1391c;
}

.tag-erase button:last-child:hover {
    color: #e1391c;
    border: 1px solid #e1391c;
    background: #ffffff;
}

.tag-erase button {
    padding: 11px 34px !important;
}

.preview button {
    padding: 11px 30px;
    margin-top: 3%;
}

.view-quiz {
    border: 1px solid rgb(231, 231, 231);
    border-radius: 5px;
    background: #ffffff;
    padding-top: 6%;
    margin-top: 21%;
}

.view-quiz h5 {
    font-weight: 700;
    color: #3a3c41;
    margin-bottom: 7%;
}

.tempted {
    background: #025f98 !important;
}

.view-quiz li {
    list-style: none;
    display: inline-block;
    padding: 8px 2px;
    width: 38px;
    height: 36px;
    background-color: #b3c1ca;
    text-align: center;
    margin-bottom: 9px;
    margin-left: 7px;
}

.view-quiz ul {
    padding: 0px;
    margin-left: 6px;
}

.view-quiz li a {
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
}

.right-answer {
    background: #2dcc70 !important;
}

.wrong-answer {
    background: #e1391c !important;
}

.legends {
    border-radius: 5px;
    border: 1px solid rgb(231, 231, 231);
    background: #ffffff;
    text-align: center;
    margin-top: 16px;
    padding: 12px 0px;
}

.legends button {
    padding: 7px 13px;
    margin: 0px 4px;
    margin-bottom: 4%;
    border-radius: 0px;
}

.unattemp {
    background: #b3c1ca !important;
}

.unattemp:hover {
    color: #b3c1ca !important;
    background: #ffffff !important;
    border: 1px solid #b3c1ca;
}

.attemp {
    background: #2dcc70 !important;
}

.attemp:hover {
    color: #2dcc70 !important;
    background: #ffffff !important;
    border: 1px solid #2dcc70;
}

.tagged {
    background: #e9b425 !important;
}

.tagged:hover {
    color: #e9b425 !important;
    background: #ffffff !important;
    border: 1px solid #e9b425;
}

.ttem {
    background: #025f98 !important;
}

.ttem:hover {
    color: #025f98 !important;
    background: #ffffff !important;
    border: 1px solid #025f98;
}

.legends h5 {
    font-weight: 700;
    color: #3a3c41;
    margin-bottom: 7%;
}

.question-in .radio-label {
    border-radius: 5px;
    font-family: 'Lato';
    font-weight: 700;
    padding: 12px 0px;
    color: #6d7483;
    width: 9%;
    padding: 0px 0px;
    float: right;
    border: none;
    font-size: 16px;
}

.options-ques input[type="radio"]:checked+.radio-label:before {
    content: '\2714';
    background: none;
    color: #48aa2d;
}


/* css add by pankaj */
/* for interview questions page */

.lagy{
    display: none;
}

.btn-loadmore{
    background: #32aced;
    color: #fff;
    border: solid 1px #e1e2e4;
}


/*email marketing page css*/

/*email marketing page css*/

.accordion_head {
    background: #00aced;
    color: white;
    cursor: pointer;
    font-family: 'Lato';
    font-weight: 400;
    font-size: 16px;
    position: relative;
    padding: 10px 15px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    font-weight: bold;
}

.accordion_head p {
    margin-bottom: 0px;
}

.accordion_body {
    margin-bottom: 16px;
    border: 1px solid #00aced;
    border-top: none;
    font-weight: 400;
    font-size: 14px;
    padding: 0px 9px;
    font-family: 'Lato';
    color: #384257;
}

.accordion_body li {
    font-weight: 400;
    font-size: 14px;
    padding-top: 10px;
    font-family: 'Lato';
    color: #384257;
}

.accordion_body ul {
    padding: 0px 25px;
}

.accordion_body p {
    padding: 15px 5px;
    margin-bottom: 5px;
}

.plusminus {
    right: 15px;
    top: 5px;
    position: absolute;
    font-size: 23px;
}

.first-question {
    margin-bottom: 1.5%;
}

#email-sidepanel {
    background: #fafafa;
}

#email-marketing {
    padding: 3% 0px;
    background: #fafafa;
}

.email-panelin {
    background: #ffffff;
    border-radius: 4px;
    padding: 15px;
    margin-bottom: 6%;
}

.email-question {
    background: #ffffff;
    padding: 23px;
    padding-top: 0px;
}

.email-panelin span {
    font-weight: 600;
    font-size: 18px;
    padding: 0px 12px;
    padding-top: 10px;
    font-family: 'Lato';
    color: #384257;
}

.seo-1 {
    margin-left: 30px;
    margin-bottom: 20px;
}

.seo-des p a {
    color: #384257 !important;
    font-size: 15px;

}

.seo-des p {
    width: 167px;
    padding-left: 15px;
}

/* by pankaj*/

/* by hameed */

.radio input[type="radio"]:checked+label.quiz-blue span.radio-label{
    background-color: #00aced;
    border: 1px solid #00aced;
    /*background-color: #f9191b;*/
    /*border: 1px solid #f9191b;*/
    box-shadow: inset 0 0 0 5px #ffffff;
}

.quiz-blue{
        color: blue;
        border: 1px solid #00aced;
}

.intro-p{
    border: 1px solid rgb(225, 226, 228);
    padding: 5px; 
    font-size: 15px;
}
.res_ques{
    border-radius: 10px;
    border: 1px solid #ff8100;
    padding: 10px; 
    color: black !important;
    margin: 0px 0px 5px 0px;
}
.res_ques span{
    width: 35px;
    height: 35px;
    text-align: center;
    padding-top: 5px;
    border-radius: 30px;
    color: white;
    font-weight: bold;
    float: right;
    margin-top: -6px;
    background-color: #ff8100; 
}
.res_dur{
    border-radius: 10px;
    border: 1px solid #F44336;
    padding: 10px; 
    color: black !important;
    margin: 0px 0px 5px 0px;
}
.res_dur span{
    width: 35px;
    height: 35px;
    text-align: center;
    padding-top: 5px;
    border-radius: 30px;
    color: white;
    font-weight: bold;
    float: right;
    margin-top: -6px;
    background-color: #F44336; 
}
.res_att{
    border-radius: 10px;
    border: 1px solid rgb(171, 28, 126);
    padding: 10px; 
    color: black !important;
    margin: 0px 0px 5px 0px;
}
.res_att span{
    width: 35px;
    height: 35px;
    text-align: center;
    padding-top: 5px;
    border-radius: 30px;
    color: white;
    font-weight: bold;
    float: right;
    margin-top: -6px;
    background-color: rgb(171, 28, 126); 
}
.res_corr{
    border-radius: 10px;
    border: 1px solid green;
    padding: 10px; 
    color: black !important;
    margin: 0px 0px 5px 0px;   
}
.res_corr span{
    width: 35px;
    height: 35px;
    text-align: center;
    padding-top: 5px;
    border-radius: 30px;
    color: white;
    font-weight: bold;
    float: right;
    margin-top: -6px;
    background-color: green; 
}
.res_sco{
    border: 1px solid #0b5986;
    padding: 10px; 
    border-radius: 10px;
    color: black !important;
    margin: 0px 0px 5px 0px;   
}
.res_sco span{
    width: 35px;
    height: 35px;
    text-align: center;
    padding-top: 5px;
    border-radius: 30px;
    color: white;
    font-weight: bold;
    float: right;
    margin-top: -6px;
    background-color: #0b5986; 
}
.restart_btn{
    background-color: #1d9e77 !important;
    color: white !important;
}
.review_btn{
    background-color: #00aced !important;
    color: white !important;   
}
/* hameed */


/* quiz by pankaj */
.start-quiz{
    background: #219c6f !important;
    color: #fff !important;
}

/* technical terms*/
.accordion_technical_head {
    background: #b5e2ea;
    color: #0c5460;
    cursor: pointer;
    font-family: 'Lato';
    font-weight: 400;
    font-size: 16px;
    position: relative;
    padding: 10px 15px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    font-weight: bold;
}
.accordion_technical_head p{
    margin: 0px;
}

.badge-new{
    right: 10px;
    top: 10px;
    position: absolute;
    font-size: 15px;
    color: red;
    text-shadow: 0 0 8px #ffffff;
}

.accordion_tech_body {
    margin-bottom: 16px;
    border: 1px solid #b5e2ea;
    border-top: none;
    font-weight: 400;
    font-size: 14px;
    padding: 0px 9px;
    font-family: 'Lato';
    color: #384257;
    min-height: 160px;
    max-height: 160px;
    overflow-y: scroll;
}

.accordion_tech_body li {
    font-weight: 400;
    font-size: 14px;
    padding-top: 10px;
    font-family: 'Lato';
    color: #384257;
}

.accordion_tech_body ul {
    padding: 0px 25px;
}

.accordion_tech_body p {
    padding: 10px 5px;
    margin-bottom: 5px;
    text-align: left;
}
.accordion_tech_body::-webkit-scrollbar {
    width: 4px;
}
.accordion_tech_body::-webkit-scrollbar-thumb {
    background-color: #ed7418;
    border-radius: 10px;
}
.accordion_tech_body::-webkit-scrollbar-track {
    background-color: #fff;
}

/* search not found */
.empty-search {
    text-align: center;
    margin: 2em 0;
    padding: 0 1em;
}

.empty-title{
    font-size: 1.75em;
    color:#606163;
}
.text-link {
    color: #1D262D;
    border-bottom: 1px solid #69E781;
    font-weight: 500;
}

.empty-search p{
    color: #5f7d95;
}

.empty-search img{
    padding: 20px;
}


/* videos category */
.vedio-categories {
    border: 1px solid rgb(225, 226, 228);
    border-radius: 6px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 4px 6.51px 0.49px rgba(0, 0, 0, 0.03);
    margin-bottom: 10%;
    padding-bottom: 11px;
    position: relative;
    text-align: center;
}

.vedio-categories h5 {
    font-weight: 700;
    color: #384257;
    padding: 4% 6%;
    font-size: 15px;
    line-height: 20px;
    padding-bottom: 1%;
}
.vedio-categories img {
    width: 50%;
    margin: 25px;
}

.cat-video-count{
    text-align: left;
    padding-left: 15px;
    color: #a2a3a7;
}

/* profile header*/

#form-save-question , #form-save-answer small{
    color: red;
}

.profile-menu{
    right: 0px;
    padding-left: 10px !important;
    min-width: 140px !important;
}

.profile-menu li a{
    font-size: 15px !important;
    color: #4f5052 !important;
}
.stepprocess1 .wsmenu>.wsmenu-list>li.wsshopmyaccount>a.profile{
    padding: 11px 17px !important;
} 

/*.dropdown-toggle::after{
    border: none;
    display: none;
}
.dropdown-toggle:hover .dropdown-menu {display: block;}

.dropdown-menu.show.digital-user{
    top: -4px !important;
    left: -15px !important;
}*/

.inter-question {
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 4px 6.51px 0.49px rgba(0, 0, 0, 0.03);
    border: 1px solid rgb(225, 226, 228);
    border-radius: 5px;
    margin-bottom: 15px;
    padding: 10px 0px;
}

.inter-question h3 {
    font-size: 20px;
    font-weight: 700;
    color: #384257;
    padding: 5px 8px;
}
.inter-question h3 a{
    color: #384257;
}

.inter-question u {
    font-size: 23px;
    font-weight: 700;
    text-decoration: none;
    color: #384257;
}

.inter-question li {
    border-radius: 15px;
    background-color: rgb(246, 246, 246);
    display: inline-block;
    margin: 0px 3px;
    padding: 3px 13px;
    padding-bottom: 6px;
}

.inter-question ul {
    padding: 0px;
    padding-top: 10px;
}

.inter-question li a {
    font-family: 'Lato';
    font-weight: 700;
    font-size: 13px;
    color: #6d7483;
}

.inter-question li a:hover {
    color: #00acee;
}
.accordion_head_iq {

    color: #adb2ba !important;
    cursor: pointer;
    font-family: 'Lato';
    font-weight: 400;
    font-size: 13px;
    position: relative;
    padding: 10px 15px;
    font-weight: bold;
}
.fa-calendar-alt{
    color: #adb2ba;
}
.accordion_head_iq:hover{
    color: #00aced !important;
}

.accordion_body_iq {
    border: 1px solid #e1e2e4;
    background: #d7edf182;
    font-weight: 400;
    font-size: 14px;
    padding: 0px 9px;
    font-family: 'Lato';
    margin-top: -15px;
    color: #384257;
    margin-bottom:15px; 
}

.accordion_body_iq li {
    font-weight: 400;
    font-size: 14px;
    padding-top: 10px;
    font-family: 'Lato';
    color: #384257;
}

.accordion_body_iq ul {
    padding: 0px 25px;
}

.accordion_body_iq p {
    padding: 15px 5px;
    margin-bottom: 5px;
}

.like-heart{
    color: #f93b3b !important;
}

.accordion_body_iq.detail{
    margin-top: 15px;
}

.iq-detail{
    text-align: justify;
}

.like-dislike-comment{
    cursor: pointer;
}



/*footer css*/

/*#footer {
    background: #191b21;
    padding: 14px 0px;
    padding-bottom: 37px;
}

#footer img {
    margin: 0px auto;
    display: block;
}*/

.footer {
    width: 24%;
    margin: 0px auto;
}

/*#footer a {
    font-family: 'Heebo';
    color: floralwhite;
    font-size: 12px;
    padding: 0px 0px;
    text-decoration: none;
}

#footer h4{
    color: floralwhite;
    text-transform: capitalize;
    font-size: 22px;
    font-weight: 600;
}

#footer ul {
    list-style: none;
    margin: 13px auto;
    margin-bottom: 0px;
    display: -webkit-inline-box;
}*/

.footer-menu{
    list-style: none;
    padding: 0px;
}

#last-footer {
    background: #22242c;
}

#last-footer ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

#last-footer li {
    font-family: 'Heebo';
    font-size: 14px;
    color: #949494;
    padding: 26px 0px;
}

#footer-new{
    background: #28292d;
    padding-top: 25px;
}

#footer-new a{
    color: #ddd;
    font-size: 13px;
    transition: 0.5s;
}

#footer-new a *{
    font-size: 13px !important;
}

#footer-new a:hover{
    padding-left:5px; 
}

#footer-new h4{
    color: floralwhite;
    text-transform: capitalize;
    font-size: 22px;
    font-weight: 600;
}

/* user form css */
  /* form starting stylings ------------------------------- */
.group.input-style{
    position: relative;
    margin-bottom: 22px;
    float: left;
    width: 100%;
}
.input-style input,.input-style select {
    font-size: 14px;
    padding: 10px 10px 10px 0px;
    display: block;
    width: 100%;
    color: #686868;
    border: none;
    font-family: "Roboto";
    font-weight: 400;
    border-bottom: 1px solid #c1c1c1;
}
.input-style input:focus,.input-style select:valid{ 
    outline:none;
}

/* LABEL ======================================= */
.input-style .label_new {
    /*color: #aeaeae;*/
    color: #6b6a6abf;
    font-size: 14px;
    font-family: 'Roboto';
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 15px;
    top: 12px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.input-style input:not(:empty) ~ .label_new,
.input-style input:focus ~ .label_new,
.input-style input:read-only ~ .label_new,
.input-style input:required:valid ~ .label_new{
    top:-8px;
    font-size:12px;
    color:#732288;
    font-family: 'Roboto';
}

.label_new2{
    top:-8px !important;
    font-size:12px !important;
    color:#732288 !important;
    font-family: 'Roboto' !important;
}

.input-style .bar   { 
    position:relative; 
    display:block; 
    width:100%; 
}

.input-style .bar:before,
.input-style .bar:after     {
  content:'';
  height:2px; 
  width:0;
  bottom:1px; 
  position:absolute;
  background:#732288; 
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}
.bar:before {
  left:50%;
}
.bar:after {
  right:50%; 
}

.input-style input:focus ~ .bar:before, 
.input-style input:focus ~ .bar:after {
  width:50%;
}

.highlight {
  position:absolute;
  height:60%; 
  width:100%; 
  top:25%; 
  left:0;
  pointer-events:none;
  opacity:0.5;
}

#user-profile-content .tab-pane h3{
    font-size: 25px;
    font-weight: 700;
    color: #384257;
    margin: 0px auto;
    display: block;    
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link{
    color: #fff;
    background-color: #32aced !important;
}

.nav-pills a.nav-link{
    color: #384157;
}

.reset-password-section{
    padding-bottom: 25px;
}

.register2 {
    line-height: 16px;
    text-align: right;
    padding: 31px 6px 19px;
    margin: 0px;
    font-family: "Roboto";
    font-weight: 400;
    font-style: normal;
    text-transform: capitalize;
    font-size: 14px;
    color: #ffffff !important;
    background: #00aced;
    border-radius: 4px;
}